<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar ciudadanos registrados</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de ciudadanos registrados</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Fecha de alta</th>
        <th scope="col">Fecha de baja</th>
        <th scope="col">DNI/NIE</th>
        <th scope="col">Número de teléfono</th>
        <th scope="col">Código de ciudadano</th>
        <th scope="col">Pin</th>
        <th scope="col">Dirección</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registeredCitizen: ${registeredCitizens}">
        <td th:text="${registeredCitizen.email}"></td>
        <td th:text="${registeredCitizen.name}"></td>
        <td th:text="${registeredCitizen.surname}"></td>
        <td th:text="${registeredCitizen.dateOfBirth}"></td>
        <td th:text="${registeredCitizen.registrationDate}"></td>
        <td th:text="${registeredCitizen.leavingDate}"></td>
        <td th:text="${registeredCitizen.idNumber}"></td>
        <td th:text="${registeredCitizen.mobilePhoneNumber}"></td>
        <td th:text="${registeredCitizen.citizenCode}"></td>
        <td th:text="${registeredCitizen.pin}"></td>
        <td th:text="${registeredCitizen.addressId}"></td>

        <td>
            <a th:href="@{/registeredCitizen/update/{email}(email=${registeredCitizen.email})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
        </td>

        <td>
            <a th:href="@{/registeredCitizen/delete/{email}(email=${registeredCitizen.email})}">
                <button type="button" class="btn btn-danger">Elimina</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir Ciudadano Registrado</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
