<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo Servicio </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Service</h2>
    <form class="form-horizontal" action="#" th:action="@{/service/add}"
          th:object="${service}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nameOfService">nameOfService:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nameOfService" th:field="*{nameOfService}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="temporality">Temporality:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="temporality" th:field="*{temporality}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="description" th:field="*{description}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="hiringPlace">Hiring Place:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="hiringPlace" th:field="*{hiringPlace}"/>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Añadir Servicio </button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
