<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h1>Lista de servicios</h1>
    <div th:if="${#lists.isEmpty(services)}">
        ¡No ha creado todavía ningún servicio!
    </div>
    <table th:unless="${#lists.isEmpty(services)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre del servicio</th>
            <th scope="col">Temporalidad</th>
            <th scope="col">Descripción</th>
            <th scope="col">Sitio de contratación</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service: ${#lists.sort(services)}">
            <td th:text="${service.nameOfService}"></td>
            <td th:text="${service.temporality.descripcion}"></td>
            <td th:text="${service.description}"></td>
            <td th:text="${service.hiringPlace}"></td>
            <td><a th:href="@{/service/update/{nameOfService}(nameOfService=${service.nameOfService})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
            </td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#miModal' + service.nameOfService}">Elimina</button></td>

            <!-- VENTANA EMERGENTE -->
            <div class="modal" th:id="${'miModal' + service.nameOfService}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar servicio</h5>
                            <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que desea eliminar el servicio <span th:text="${service.nameOfService}"></span>?</p>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/service/delete/{nameOfService}(nameOfService=${service.nameOfService})}">
                                <button type="submit" class="btn btn-primary">Confirmar</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <a href="add"><button type="button" class="btn btn-success">Añadir servicio</button></a>
    <a href="/section/environmentalManager"><button type="button" class="btn btn-primary">Volver al menú</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
