<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <!-- filtro buscador -->
    <div class="box" style="padding-bottom: 20px; padding-top: 20px">
        <form>
            <div style="float: right;">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input th:name="patron" style="border-radius: 25px; background-color: #e8e6e8" type="search" id="search" placeholder=" Buscar..." />
                <button style="border-radius: 25px;" type="submit" class="btn btn-primary">Buscar</button>
                <a th:href="@{/service/list}">
                    <button style="border-radius: 25px; text-color:white" type="submit" class="btn btn-secondary">Resetear</button>
                </a>
            </div><br>
        </form>
    </div>

    <h1>Lista de servicios</h1>
    <div th:if="${#lists.isEmpty(services)}">
        ¡No ha creado todavía ningún servicio!
    </div>
    <table th:unless="${#lists.isEmpty(services)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre del servicio</th>
            <th scope="col">Temporalidad</th>
            <th scope="col">Descripción</th>
            <th scope="col">Sitio de contratación</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service: ${#lists.sort(services)}">
            <td th:text="${service.nameOfService}"></td>
            <td th:text="${service.temporality.descripcion}"></td>
            <td th:text="${service.description}"></td>
            <td th:text="${service.hiringPlace}"></td>
            <td><a th:href="@{/service/update/{nameOfService}(nameOfService=${service.nameOfService})}">
                <button type="button" class="btn btn-warning edit">Edita</button>
            </a>
            </td>
            <td><button type="button" class="btn btn-danger delete" data-toggle="modal" th:data-target="${'#miModal' + service.nameOfService}">Elimina</button></td>

            <!-- VENTANA EMERGENTE -->
            <div class="modal" th:id="${'miModal' + service.nameOfService}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar servicio</h5>
                            <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que desea eliminar el servicio <span th:text="${service.nameOfService}"></span>?</p>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/service/delete/{nameOfService}(nameOfService=${service.nameOfService})}">
                                <button type="submit" class="btn btn-primary">Confirmar</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <a href="add"><button type="button" class="btn btn-success okey">Añadir servicio</button></a>
    <a href="/environmentalManager/home"><button type="button" class="btn btn-primary"><img src="/assets/img/home.png" class="fotoBoton" alt="Menú">Volver al menú</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
