<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Modificar servicio</h2>
    <form class="form-horizontal" action="#" th:action="@{/service/update}"
          th:object="${service}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nameOfService">Nombre del servicio:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="nameOfService" th:field="*{nameOfService}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="temporality">Temporalidad:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="temporality" th:field="*{temporality}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="description" th:field="*{description}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="hiringPlace">Sitio de contratación:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="hiringPlace" th:field="*{hiringPlace}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/service/list"><button type="button" class="btn btn-primary">Volver</button></a>
                <button type="submit" class="btn btn-success">Actualizar servicio </button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
