<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h2>Nuevo municipio</h2><br>
    <form class="form-horizontal" action="#" th:action="@{/municipality/add}"
          th:object="${municipality}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="30" required class="form-control" id="name" th:field="*{name}"
                placeholder="Nombre del municipio"/>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-4">
                <textarea rows="3" required maxlength="100" class="form-control" placeholder="Es la capital de la provincia de..."
                          id="description" th:field="*{description}"></textarea>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Añadir municipio</button>
            </div>
        </div>
    </form>
    <a href="/municipality/list"><button type="submit" class="btn btn-primary">Volver</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
