<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Municipio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <h1><span th:text="${municipality.name}"> </span></h1>
    <br>
    <ul>
        <li><b>Descripción:</b> <span th:text="${municipality.description}"></span></li>
        <li><b>Fecha de registro:</b> <span th:text="${#temporals.format(municipality.registrationDate,'dd/MM/yyyy')}"></span></li>
    </ul><br>
    <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">
        <button type="button" class="btn btn-warning">Edita</button> </a>
    </td>
    <hr style="width: 85%; border-top: 1px solid #697F40; border-bottom: 1px solid #697F40; margin:2.5em">


    <!-- TODO da error en rowmapper -->

    <h3>Gestores municipales</h3>
    <div th:if="${#lists.isEmpty(municipalManagers)}">
        <p><b>¡Este municipio todavía no tiene ningún gestor municipal asignado!</b></p>
    </div>
    <table th:unless="${#lists.isEmpty(municipalManagers)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Municipio</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Fecha de alta</th>
            <th scope="col">Fecha de baja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipalManager: ${#lists.sort(municipalManagers)}">
            <td scope="row" th:text="${municipalManager.username}"></td>
            <td th:text="${municipalManager.name}"></td>
            <td th:text="${municipalManager.surname}"></td>
            <td th:text="${municipalManager.email}"></td>
            <td th:text="${municipalManager.municipality}"></td>
            <td th:text="${#temporals.format(municipalManager.dateOfBirth,'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(municipalManager.registrationDate,'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(municipalManager.leavingDate,'dd/MM/yyyy')}"></td>
        </tr>
        </tbody>
    </table>
    <hr style="width: 85%; border-top: 1px solid #697F40; border-bottom: 1px solid #697F40; margin:2.5em">


    <!-- TODO AQUI PODEMOS PONER BOTON PARA ASIGNAR UN MUNICIPAL MANAGER NUEVO PERO SI SE REUTILIZA LA QUE YA HAY
     LOS BOTONES CAMBIAN... MEJOR HACER VISTA NUEVA-->



    <h3>Códigos postales</h3>
    <div th:if="${#lists.isEmpty(postalCodes)}">
        <p><b>¡Este municipio no tiene ningún código postal asignado!</b></p>
    </div>
    <table th:unless="${#lists.isEmpty(postalCodes)}" class="table table-striped">


        <!-- TODO Tabla con los códigos postales del municipio y borrar-->


    </table>


    <!-- TODO Formulario en la misma página (como imagen en naturalArea) para introducir un CP y anyadirlo, sin llevar a otra vista!!!! -->



    <td><a th:href="@{../delete/{municipality}(municipality=${municipality.name})}"
           th:onclick="return confirm('¿Estás seguro/a de borrar el municipio '+ [[${municipality.name}]] + '?');">
        <button type="button" class="btn btn-danger">Elimina municipio</button>
    </a>
    </td>
    <a href="/municipality/list"><button type="button" class="btn btn-primary">Volver al listado</button></a>
    <br><br>
</div>
</body>
</html>
