<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h1><span th:text="${municipality.name}"> </span></h1>
    <br>
    <ul>
        <li><b>Descripción:</b> <span th:text="${municipality.description}"></span></li>
        <li><b>Fecha de registro:</b> <span th:text="${#temporals.format(municipality.registrationDate,'dd/MM/yyyy')}"></span></li>
    </ul><br>
    <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">
        <button type="button" class="btn btn-warning">Edita</button> </a>
    </td>
    <hr class="lineaVerde">

    <!-- SECCION DE GESTORES MUNICIPALES DEL MUNICIPIO -->
    <h3>Gestores municipales</h3>
    <div th:if="${#lists.isEmpty(municipalManagers)}">
        <p><b>¡Este municipio todavía no tiene ningún gestor municipal asignado!</b></p>
    </div>
    <table th:unless="${#lists.isEmpty(municipalManagers)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Municipio</th>
            <th scope="col">Fecha de baja</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipalManager: ${#lists.sort(municipalManagers)}">
            <td scope="row" th:text="${municipalManager.name}"></td>
            <td th:text="${municipalManager.surname}"></td>
            <td th:text="${municipalManager.municipality}"></td>
            <div th:if="${municipalManager.leavingDate != null}">
                <td th:text="${municipalManager.leavingDate}"></td>
            </div>
            <div th:if="${municipalManager.leavingDate == null}">
                <td> - </td>
            </div>

            <!-- Botones -->
            <td><a th:href="@{/municipalManager/get/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-primary">Más información</button> </a>
            </td>
            <td><a th:href="@{/municipalManager/update/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
            </td>
            <!-- opcion para dar de baja, si no lo está ya -->
            <div th:if="${municipalManager.leavingDate != null}">
                <td></td>
            </div>
            <div th:if="${municipalManager.leavingDate == null}">
                <td><button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#miModal' + municipalManager.username}">Dar de baja</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + municipalManager.username}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Dar de baja un gestor municipal</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea dar de baja al gestor municipal <span th:text="${municipalManager.name}"></span>
                                    <span th:text="${municipalManager.surname}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/municipalManager/darDeBaja/{email}(email=${municipalManager.email})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>

    <!-- SECCION DE CODIGOS POSTALES DEL MUNICIPIO -->
    <section id="postalCodes">
        <hr class="lineaVerde">
        <h3>Códigos postales</h3>
        <div th:if="${#lists.isEmpty(postalCodes)}">
            <p><b>¡Este municipio no tiene ningún código postal asignado!</b></p>
        </div>
        <!--<div class="scroll">-->
        <table th:unless="${#lists.isEmpty(postalCodes)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Código Postal</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="postalCodeMunicipality: ${#lists.sort(postalCodes)}">
                <td scope="row" th:text="${postalCodeMunicipality.postalCode}"></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal"
                            th:data-target="${'#miModal' + postalCodeMunicipality.postalCode}">Elimina</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + postalCodeMunicipality.postalCode}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Eliminar el código postal</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea eliminar el código postal <span th:text="${postalCodeMunicipality.postalCode}"></span> del municipio <span th:text="${postalCodeMunicipality.municipality}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/postalCode/delete/{municipality}/{postalCode}(municipality=${postalCodeMunicipality.municipality}, postalCode=${postalCodeMunicipality.postalCode})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <!--</div>-->
        <br>
        <!-- añadir un nuevo codigo postal -->
        <h5>Añadir código postal</h5>
        <div class="container">
            <form class="form-horizontal" action="#" th:action="@{/postalCode/add}" th:object="${postalCode}" method="post">

                <input type="hidden" required th:field="*{municipality}"/>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="cp">Código postal:</label>
                    <div class="col-sm-4">
                        <input type="text" minlength="5" maxlength="5" class="form-control" id="cp" th:field="*{postalCode}"/>
                        <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></td>
                        <td th:if="${#strings.equals(claveRepetida, 'repetida')}">Este código postal ya pertenece a un municipio</td>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-success">Añadir código postal</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
