<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>


<section id="perfil">
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary mb-0">Municipios</h2>
        <br><hr class="barra-normal"><br>

    <!-- filtro buscador y botón ocupación por municipios -->
    <div class="box" style="padding-bottom: 20px; padding-top: 20px">
        <form>
            <div style="float: right;">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input th:name="patron" style="border-radius: 25px; background-color: #e8e6e8" type="search" id="search" placeholder=" Buscar..." />
                <button style="border-radius: 25px;" type="submit" class="btn btn-primary">Buscar</button>
                <a th:href="@{/municipality/list}">
                    <button style="border-radius: 25px; text-color:white" type="submit" class="btn btn-secondary">Resetear</button>
                </a>
            </div><br>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(municipalities)}">
        ¡No ha añadido todavía ningún municipio!
    </div>
    <table th:unless="${#lists.isEmpty(municipalities)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha registro</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipality: ${#lists.sort(municipalities)}">
            <td scope="row" th:text="${municipality.name}"></td>
            <td th:text="${#temporals.format(municipality.registrationDate,'dd/MM/yyyy')}"></td>
            <td><a th:href="@{/municipality/get/{name}(name=${municipality.name})}">
                <button type="button" class="btn btn-primary">Más información</button>
            </a>
            </td>
            <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">
                <button type="button" class="btn btn-warning edit">Edita</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="add"><button type="button" class="btn btn-success okey">Añadir municipio</button></a>
    <a href="/municipality/occupancy"><button type="button" class="btn btn-primary">Histórico de ocupación</button></a>
    <a href="/"><button type="button" class="btn btn-primary"><img src="/assets/img/home.png" style="margin-right: 10px" class="fotoBoton" alt="Menú">Volver al menú</button></a>
    <br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
