<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha registro</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="municipality: ${municipalities}">
        <td scope="row" th:text="${municipality.name}"></td>
        <td th:text="${municipality.description}"></td>
        <td th:text="${municipality.registrationDate}"></td>
        <td><a class="btn btn-success" th:href="@{/postalCode/list/{muni}(muni=${municipality.name})}" role="button">CP</a>
        </td>
        <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/municipality/delete/{name}(name=${municipality.name})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir Municipio</button></a>
<a href="../"><button type="button" class="btn btn-success">Volver al menú principal</button></a>
</body>
</html>
