<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h1>Lista de municipios</h1>
    <div th:if="${#lists.isEmpty(municipalities)}">
        ¡No has añadido todavía ningún municipio!
    </div>
    <table th:unless="${#lists.isEmpty(municipalities)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha registro</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipality: ${#lists.sort(municipalities)}">
            <td scope="row" th:text="${municipality.name}"></td>
            <td th:text="${municipality.description}"></td>
            <td th:text="${#temporals.format(municipality.registrationDate,'dd/MM/yyyy')}"></td>
            <td><a th:href="@{/municipality/get/{name}(name=${municipality.name})}">
                <button type="button" class="btn btn-primary">Más opciones</button>
            </a>
            </td>
            <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
            </td>
            <td><a th:href="@{/municipality/delete/{name}(name=${municipality.name})}"
                   th:onclick="return confirm('¿Estás seguro/a de borrar el municipio ' + [[${municipality.name}]] + '?');">
                <button type="button" class="btn btn-danger">Elimina</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add"><button type="button" class="btn btn-success">Añadir municipio</button></a>
    <a href="/section/environmentalManager"><button type="button" class="btn btn-primary">Volver al menú</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
