<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0">Ocupación por municipios</h2>
    <br><hr class="barra-normal"><br>

    <h1> POR HACER</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- TODO POR HACER -->

    <a href="/municipality/list"><button type="button" class="btn btn-primary">Volver</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>