<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">Modificar municipio</h2>
    <br><hr class="barra-normal"><br>

    <h4 style="text-align: center"><i><span th:text="${municipality.name}"></span></i></h4><br>

    <form class="form-horizontal" action="#" th:action="@{/municipality/update}"
          th:object="${municipality}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-4">
                <textarea rows="3" required maxlength="100" class="form-control" id="description" th:field="*{description}"></textarea>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </div>
        </div>

        <input required type="hidden" th:field="*{name}" />
        <input required type="hidden" th:field="*{registrationDate}" />

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success okey">Actualizar municipio</button>
            </div>
        </div>
    </form>
    <a href="/municipality/list"><button type="submit" class="btn btn-primary">Volver</button></a>
    <br><br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
