<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>


<div class="container">
    <h2>Realizar nueva reserva en <span th:text="${naturalArea}"></span></h2>
    <br>
    <form class="form-horizontal" action="#" th:action="@{/reservation/add}"
          th:object="${reservation}" method="post">

        <!--
        <div class="form-group row">
            <label class="control-label col-sm-2" for="reservationNumber">Número reserva:</label>
            <div class="col-sm-4">
                <input type="number" min="1" required class="form-control" id="reservationNumber" th:field="*{reservationNumber}" />
            </div>
        </div>
        -->

        <div class="form-group row">
            <label class="control-label col-sm-2" for="reservationDate">Fecha reserva:</label>
            <div class="col-sm-4">
                <input type="date" placeholder="yyyy-MM-dd" required class="form-control" id="reservationDate" th:field="*{reservationDate}" />
            </div>
        </div>

        <!--
        <div class="form-group row">
            <label class="control-label col-sm-2" for="creationDate">Fecha creación:</label>
            <div class="col-sm-4">
                <input type="date" required class="form-control" id="creationDate" th:field="*{creationDate}" />
            </div>
        </div>
        -->

        <!--
        <div class="form-group row">
            <label class="control-label col-sm-2" for="creationTime">Hora creación:</label>
            <div class="col-sm-4">
                <input type="time" required class="form-control" id="creationTime" th:field="*{creationTime}" />
            </div>
        </div>
        -->

        <div class="form-group row">
            <label class="control-label col-sm-2" for="numberOfPeople">Num. personas:</label>
            <div class="col-sm-4">
                <input type="number" min="1" max="10" required class="form-control" id="numberOfPeople" th:field="*{numberOfPeople}" />
            </div>
        </div>

        <!--
        <div class="form-group row">
            <label class="control-label col-sm-2" for="state">Estado:</label>
            <div class="col-sm-4">
                <input type="text" placeholder="created" required class="form-control" id="state" th:field="*{state}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="QRcode">Código QR:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="QRcode" th:field="*{QRcode}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="citizenEmail">Ciudadano (email):</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="citizenEmail" th:field="*{citizenEmail}"/>
            </div>
        </div>
        -->

        <div class="form-group row">
            <label class="control-label col-sm-2">Horario:</label>
            <div class="col-sm-4">
                <select class="form_control form-control-lg" type="text" th:field="*{timeSlotId}">
                    <option th:each="timeSlot : ${timeSlots}"
                            th:value="${timeSlot.id}"
                            th:text="${timeSlot.beginningTime + ' - ' + timeSlot.endTime}"></option>
                </select>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/naturalArea/pagedlist"><button type="button" class="btn btn-secondary">Volver</button></a>
                <button type="submit" class="btn btn-primary">Reservar</button>
            </div>
        </div>

    </form>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>
