<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerRegistered"></div>


<div class="container">
    <h2>Realizar nueva reserva en <span th:text="${naturalArea}"></span></h2>
    <br>
    <form class="form-horizontal" action="#" th:action="${'/reservation/add2/' + naturalArea}"
          th:object="${reservation}">

        <div class="form-group row">
            <label class="control-label col-sm-2">Fecha reserva:</label>
            <div class="col-sm-4">
                <select class="form_control form-control-lg" type="text" th:field="*{reservationDate}">
                    <option th:each="fecha : ${fechas}"
                            th:value="${fecha}"
                            th:text="${#temporals.format(fecha,'dd/MM/yyyy')}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="numberOfPeople">Núm. personas:</label>
            <div class="col-sm-4">
                <input type="number" min="1" max="8" required class="form-control" id="numberOfPeople" th:field="*{numberOfPeople}" value="1"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Horario:</label>
            <div class="col-sm-4">
                <select class="form_control form-control-lg" type="text" th:field="*{timeSlotId}">
                    <option th:each="timeSlot : ${timeSlots}"
                            th:value="${timeSlot.id}"
                            th:text="${timeSlot.beginningTime + ' - ' + timeSlot.endTime}"></option>
                </select>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/naturalArea/pagedlist"><button type="button" class="btn btn-secondary">Volver</button></a>
                <button type="submit" class="btn btn-primary">Ver zonas disponibles</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>
