<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>

<h2 class="text-uppercase text-center text-secondary mb-0" > Lista de resevas de ocupación </h2>
<br><hr class="barra-normal"><br>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Número reserva</th>
        <th scope="col">Fecha reserva</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Hora creación</th>
        <th scope="col">Num. personas</th>
        <th scope="col">Estado</th>
        <th scope="col">Código QR</th>
        <th scope="col">Fecha cancelación</th>
        <th scope="col">Razón cancelación</th>
        <th scope="col">Email ciudadano</th>
        <th scope="col">Franja horaria id</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation: ${#lists.sort(reservations)}">
        <td scope="row" th:text="${reservation.reservationNumber}"></td>
        <td th:text="${#temporals.format(reservation.reservationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(reservation.creationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(reservation.creationTime,'HH:mm')}"></td>
        <td th:text="${reservation.numberOfPeople}"></td>
        <td th:text="${reservation.state.descripcion}"></td>
        <td th:text="${reservation.QRcode}"></td>
        <td th:text="${#temporals.format(reservation.cancellationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${reservation.cancellationReason}"></td>
        <td th:text="${reservation.citizenEmail}"></td>
        <td th:text="${reservation.timeSlotId}"></td>
        <td><a th:href="@{/reservation/updateManagers/{reservationNumber}(reservationNumber=${reservation.reservationNumber})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/reservation/cancelManagers/{reservationNumber}(reservationNumber=${reservation.reservationNumber})}">
            <button type="button" class="btn btn-danger">Cancela</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir reserva</button></a>
<a href="/naturalArea/listManagers"><button type="button" class="btn btn-primary">Volver</button></a>
</body>
</html>
