<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerRegistered"></div>

<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0" >
        Realizar nueva reserva en <span th:text="${naturalArea}"></span>
    </h2>
    <br><hr class="barra-normal">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 style="text-align: center">Debe seleccionar una o más zonas para poder completar su reserva,</h4>
    <h4 style="text-align: center">Gracias por su tiempo</h4>
    <br>
    <br>
    <a th:href="${'/reservation/add/' + naturalArea}">
        <button type="button" class="btn btn-secondary">Atrás</button>
    </a>
    <br>
    <br>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>