<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar reserva</h2>
<form action="#" th:action="@{/reservation/update}"
      th:object="${reservation}" method="post">
    <table>
        <tr>
            <td><label>Número reserva</label></td>
            <td><input type="text" th:field="*{reservationNumber}" /></td>
        </tr>
        <tr>
            <td><label>Fecha reserva (yyyy-MM-dd)</label></td>
            <td><input type="text" th:field="*{reservationDate}" /></td>
        </tr>
        <tr>
            <td><label>Num. personas</label></td>
            <td><input type="number" th:field="*{numberOfPeople}" /></td>
        </tr>
        <tr>
            <td><label>Código QR</label></td>
            <td><input type="text" th:field="*{QRcode}" /></td>
        </tr>
        <tr>
            <td><label>Fecha cancelación (yyyy-MM-dd)(por defecto null)</label></td>
            <td><input type="text" th:field="*{cancellationDate}" /></td>
        </tr>
        <tr>
            <td><label>Razón cancelación (por defecto null)</label></td>
            <td><input type="text" th:field="*{cancellationReason}" /></td>
        </tr>
        <tr>
            <td><label>Ciudadano (id)</label></td>
            <td><input type="text" th:field="*{citizenId}" /></td>
        </tr>
        <tr>
            <td><label>Franja horaria (id)</label></td>
            <td><input type="text" th:field="*{timeSlotId}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualizar reserva" /></td>
        </tr>
    </table>
</form>
</body>
</html>