<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- TODO eliminar, no se usa -->

<head>
    <title>Gestionar direcciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de direcciones</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id dirección</th>
        <th scope="col">Calle</th>
        <th scope="col">Número</th>
        <th scope="col">Piso y puerta</th>
        <th scope="col">Código postal</th>
        <th scope="col">Ciudad</th>
        <th scope="col">País</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address: ${addresses}">
        <td scope="row" th:text="${address.id}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.number}"></td>
        <td th:text="${address.floorDoor}"></td>
        <td th:text="${address.postalCode}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.country}"></td>
        <td><a th:href="@{/address/update/{id}(id=${address.id})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/address/delete/{id}(id=${address.id})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir dirección</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>

</html>
