<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar códigos postales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de códigos postales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Municipio</th>
        <th scope="col">Código Postal</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="postalCodeMunicipality: ${postalCodes}">
        <td scope="row" th:text="${postalCodeMunicipality.municipality}"></td>
        <td th:text="${postalCodeMunicipality.postalCode}"></td>
        <td><a th:href="@{/postalCode/delete/{municipality}/{postalCode}(municipality=${postalCodeMunicipality.municipality}, postalCode=${postalCodeMunicipality.postalCode})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir Código Postal</button></a>
<a href="/municipality/list"><button type="button" class="btn btn-primary">Lista de municipios</button></a>
<a href="../../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
