<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">
    <h2>Asignar un servicio fijo</h2><br>
    <form class="form-horizontal" action="#" th:action="@{/serviceDate/add}"
          th:object="${serviceDate}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Área natural:</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" required class="form-control" id="naturalArea" th:field="*{naturalArea}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="service">Servicio fijo:</label>
            <div class="col-sm-4">
                <select class="form_control" required id="service" type="text" th:field="*{service}">
                    <option value="No seleccionado">Selecciona un servicio</option>
                    <option th:each="servicevalue : ${serviceList}"
                            th:value="${servicevalue}"
                            th:text="${servicevalue}"></option>
                </select>
                <td th:if="${#fields.hasErrors('service')}" th:errors="*{service}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="beginningDate">Fecha de inicio:</label>
            <div class="col-sm-4">
                <input type="date" required placeholder="yyyy-MM-dd" class="form-control" id="beginningDate" th:field="*{beginningDate}"/>
                <td th:if="${#fields.hasErrors('beginningDate')}" th:errors="*{beginningDate}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="endDate">Fecha de fin:</label>
            <div class="col-sm-4">
                <input type="date" placeholder="yyyy-MM-dd" class="form-control" id="endDate" th:field="*{endDate}"/>
                <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" data-toggle="modal" data-target="#miModal" class="btn btn-success">Asignar servicio fijo</button>
            </div>
        </div>

        <!-- VENTANA EMERGENTE -->
        <div class="modal" id="miModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Asignar servicio fijo</h5>
                        <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que quieres asignar el servicio fijo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <a th:href="@{/naturalArea/getManagers/{naturalAreaName}(naturalAreaName=${serviceDate.naturalArea})}">
        <button type="submit" class="btn btn-primary">Volver al área natural</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
