<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:switch="${typeUser}">
    <td th:case="'manager'"><div th:replace="fragments/headerManager"></div></td>
    <td th:case="'environmental'"><div th:replace="fragments/headerEnvironmental"></div></td>
</div>

<section>
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary mb-0">Servicios fijos</h2>
        <br><hr class="barra-normal"><br>
        <h4 style="text-align: center"><span th:text="${areaNatural}"></span></h4>

        <div th:if="${#lists.isEmpty(services)}">
            <br/>
            <div class="row">
                <div class="col">
                    <h4>¡Todavía no hay registrado ningún servicio que coincida con esa búsqueda!</h4>
                </div>
            </div>
            <br/>
        </div>

        <div th:unless="${#lists.isEmpty(services)}">
            <!-- filtro buscador -->
            <div class="box" style="padding-bottom: 20px; padding-top: 20px">
                <form>
                    <div style="float: right;">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input th:name="patron" style="border-radius: 25px; background-color: #e8e6e8" type="search" id="search" placeholder=" Buscar..." />
                        <button style="border-radius: 25px;" type="submit" class="btn btn-primary">Buscar</button>
                        <a th:href="@{/serviceDate/list}">
                            <button style="border-radius: 25px; text-color:white" type="submit" class="btn btn-secondary">Resetear</button>
                        </a>
                    </div><br><br>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Servicio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Sitio de contratación</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service: ${#lists.sort(services)}">
                    <td th:text="${service.nameOfService}"></td>
                    <td th:text="${service.description}"></td>
                    <td th:text="${service.hiringPlace}"></td>
                    <td th:text="${#temporals.format(service.beginningDate,'dd/MM/yyyy')}"></td>
                    <td th:if="${service.endDate != null}">
                        <span th:text="${#temporals.format(service.endDate,'dd/MM/yyyy')}"></span>
                    </td>
                    <td th:if="${service.endDate == null}">
                        <span>Operativo</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:switch="${typeUser}">
            <td th:case="'environmental'">
                <a th:href="@{/naturalArea/getForEnvironmentalServices/{naturalAreaName}(naturalAreaName=${areaNatural})}">
                    <button type="submit" class="btn btn-primary">Volver</button>
                </a>
            </td>
            <td th:case="manager">
                <a th:href="@{/service/getForManagersServices/{naturalAreaName}(naturalAreaName=${areaNatural})}">
                    <button type="submit" class="btn btn-primary">Volver</button>
                </a>
            </td>
        </div>
        <br><br>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
