<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear imagen</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Nueva imagen</h2>
    <form class="form-horizontal" action="#" th:action="@{/picture/add}"
          th:object="${picture}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="picturePath">Ruta de la imagen:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="picturePath" th:field="*{picturePath}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Area natural:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="naturalArea" th:field="*{naturalArea}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/picture/list"><button type="button" class="btn btn-primary">Volver</button></a>
                <button type="submit" class="btn btn-success">Añadir imagen</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
