<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar imágenes</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de imágenes</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Ruta imagen</th>
        <th scope="col">Area natural</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="picture: ${pictures}">
        <td scope="row" th:text="${picture.picturePath}"></td>
        <td th:text="${picture.naturalArea}"></td>
        <td><a th:href="@{/picture/delete/{picturePath}(picturePath=${picture.picturePath})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir imagen</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
