<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">
    <h1>Añadir los datos del área restringida</h1>
    <h4>Introduce la fecha de restricción</h4>
    <form class="form-horizontal" action="#" th:action="@{/naturalArea/addRestricted}"
          th:object="${naturalArea}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Área natural:</label>
            <div class="col-sm-4">
                <input readonly="readonly" type="text" maxlength="30" class="form-control" id="name" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </div>
        </div>

        <input required type="hidden" th:field ="*{typeOfAccess}"/>
        <input required type="hidden" th:field="*{latitudGrados}" />
        <input required type="hidden" th:field="*{latitudMin}" />
        <input required type="hidden" th:field="*{latitudSeg}" />
        <input required type="hidden" th:field="*{latitudLetra}" />
        <input required type="hidden" th:field="*{longitudGrados}" />
        <input required type="hidden" th:field="*{longitudMin}" />
        <input required type="hidden" th:field="*{longitudSeg}" />
        <input required type="hidden" th:field="*{longitudLetra}" />
        <input required type="hidden" th:field ="*{typeOfArea}" />
        <input required type="hidden" th:field="*{length}" />
        <input required type="hidden" th:field="*{width}" />
        <input required type="hidden" th:field="*{physicalCharacteristics}" />
        <input required type="hidden" th:field="*{description}">
        <input required type="hidden" th:field ="*{orientation}"/>
        <input required type="hidden" th:field ="*{municipality}"/>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="restrictionTimePeriod">Restringido hasta:</label>
            <div class="col-sm-4">
                <input type="date" required placeholder="yyyy-MM-dd" class="form-control" id="restrictionTimePeriod" th:field="*{restrictionTimePeriod}" />
                <td th:if="${#fields.hasErrors('restrictionTimePeriod')}" th:errors="*{restrictionTimePeriod}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Añadir y finalizar</button>
            </div>
        </div>

    </form>
    <a href="/section/managers"><button type="button" class="btn btn-primary">Cancelar</button></a><br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>