<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- carrusel de fotos -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

<div th:switch="${typeUser}">
    <td th:case="'registered'"><div th:replace="fragments/headerRegistered"></div></td>
    <td th:case="*"><div th:case="notRegistered" th:replace="fragments/header"></div></td>
</div>

<section id="naturalAreaInfo">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0" th:text="${naturalArea.name}"></h2>
        <br><hr class="barra-normal"><br>

        <!--INFORMACIÓN DEL AREA NATURAL  -->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Municipio:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.municipality}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Acceso:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.typeOfAccess.descripcion}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Área:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.typeOfArea.descripcion}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Localización:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.geographicalLocation}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Largo:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.length}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Ancho:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.width}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Características físicas:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.physicalCharacteristics}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Descripción:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.description}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h5 class="colorMarron">Orientación:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="*{naturalArea.orientation.descripcion}"></h5>
                </div>
            </div>

            <div class="row" th:if="${naturalArea.typeOfAccess.name() == 'restricted'}">
                <div class="col-3">
                    <h5 class="colorMarron">Restringido hasta:</h5>
                </div>
                <div class="col-6">
                    <h5 class="colorTierra" th:text="${#temporals.format(naturalArea.restrictionTimePeriod,'dd/MM/yyyy')}"></h5>
                </div>
            </div>
        </div>
        <br><br>

        <!-- SECCION DE IMAGENES DEL AREA NATURAL -->
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3>Imágenes <img src="/assets/img/photo.png" class="fotoTitulo" alt="Icono imagen"></h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div th:if="${#lists.isEmpty(pictures)}">
                        <p><b>¡Este área natural no tiene ninguna imagen publicada!</b></p>
                    </div>
                    <br>
                    <!-- Carousel de imagenes -->
                    <div id="miCarrusel" class="carousel slide" data-ride="carousel">
                        <!-- activar la imagen 0 -->
                        <ol  class="carousel-indicators">
                            <li  th:each="picture,iterstat: ${pictures}"
                                 data-target="#miCarrusel"
                                 th:attr="data-slide-to=${iterstat.index}"
                                 th:class="${iterstat.index}== 0 ? 'active':''"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div th:each="picture,iterstat: ${pictures}"
                                 th:class="${iterstat.index}==0 ? 'carousel-item active':'carousel-item'">
                                <img th:src="@{${picture.picturePath}}" class="d-block w-100" alt="Foto del espacio natural">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#miCarrusel"
                           role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#miCarrusel"
                           role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <br/><br/>

        <!-- SECCION DE COMENTARIOS DEL AREA NATURAL -->

        <section id="comments">
            <hr class="lineaVerde">
            <div class="container text-center">
                <h3>Comentarios <img src="/assets/img/comentari.png" class="fotoTitulo" alt="Icono comentario"></h3>
                <br/>
                <div th:if="${#lists.isEmpty(comments)}">
                    <p><b>¡Este área natural todavía no tiene comentarios!</b></p>
                </div>
                <div th:unless="${#lists.isEmpty(comments)}" class="container">
                    <div th:each="comment: ${#lists.sort(comments)}" class="container" >
                        <div class="row">
                            <div class="col align-self-center">
                                <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                    <img th:if="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/starBlack.png" class="fotoBoton" alt="X">
                                    <img th:unless="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/star.png" class="fotoBoton" alt="O">
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <br>
                        </div>

                        <div class="row">
                            <div class="col align-self-center">
                                <span>
                                    <p th:text="${comment.commentBody}"></p>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col align-self-center">
                                <span>
                                    <p th:text="${comment.citizenName} + ' ' + ${comment.citizenSurname} + ' - ' +
                                    ${#temporals.format(comment.date,'dd/MM/yyyy')}"></p>
                                </span>
                            </div>
                        </div>

                        <div class="row"><br/></div>
                    </div>
                </div>
                <br/>
                <!-- solo los ciudadanos registrados pueden hacer comentarios -->
                <div th:if="${#strings.equals(typeUser, 'registered')}">
                    <a th:href="@{/comment/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                        <button type="button" class="btn btn-success okey">Añadir comentario</button> </a>
                </div>
                <div th:unless="${#strings.equals(typeUser, 'registered')}">
                    <p><b>¡Inicie sesión para poder hacer comentarios!</b></p>
                </div>
            </div>
        </section>

        <!-- SECCION DE SERVICIOS FIJOS DEL AREA NATURAL -->
        <hr class="lineaVerde">
        <div class="container text-center">
            <h3>Servicios fijos</h3>
            <br>
            <div th:if="${#lists.isEmpty(serviceDates)}">
                <p><b>¡Este espacio natural no tiene asignado ningún servicio fijo!</b></p>
            </div>
            <div th:unless="${#lists.isEmpty(serviceDates)}" class="container">

                <div class="row text-left">
                    <div class="col"><b>Servicio</b></div>
                    <div class="col"><b>Descripción</b></div>
                    <div class="col"><b>Lugar de contratación</b></div>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row text-left" th:each="serviceDate: ${#lists.sort(serviceDates)}">
                    <div class="col"><i th:text="${serviceDate.nameOfService}"></i></div>
                    <div class="col"><p th:text="${serviceDate.description}"></p></div>
                    <div class="col"><p th:text="${serviceDate.hiringPlace}"></p></div>
                </div>
            </div>
        </div>

        <!-- SECCION DE SERVICIOS TEMPORALES DEL AREA NATURAL -->
        <section id="temporalServices">
            <hr class="lineaVerde">
            <div class="container text-center">
                <h3>Servicios temporales</h3>
                <br>
                <div th:if="${#lists.isEmpty(temporalServices)}">
                    <p><b>¡Este espacio natural no tiene asignado ningún servicio temporal!</b></p>
                </div>
                <div th:unless="${#lists.isEmpty(temporalServices)}" class="container">
                    <div class="row text-left">
                        <div class="col"><b>Servicio</b></div>
                        <div class="col"><b>Hora de inicio</b></div>
                        <div class="col"><b>Hora de fin</b></div>
                        <div class="col"><b>Fecha de inicio</b></div>
                        <div class="col"><b>Fecha de fin</b></div>
                        <div class="col"></div>
                    </div>

                    <div class="row"><br/></div>

                    <div class="row text-left" style="height:50px" th:each="temporalService: ${#lists.sort(temporalServices)}">
                        <div class="col"><i th:text="${temporalService.service}"></i></div>
                        <div class="col" th:text="${temporalService.beginningTime}"></div>
                        <div class="col" th:text="${temporalService.endTime}"></div>
                        <div class="col" th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></div>
                        <div class="col" th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></div>
                        <div class="col">
                            <a th:href="@{/temporalService/get/{id}(id=${temporalService.id})}">
                            <button type="button" class="btn btn-primary">Más información</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br><br>
        <div class="row justify-content-center">
            <div class="col-md-auto" >
                <a href="/naturalArea/pagedlist">
                    <button type="button" class="btn btn-primary">Atrás</button></a><br><br>
            </div>
        </div><br>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>

