<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Area natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1><span th:text="${naturalArea.name}"> </span></h1>
    <p><b>Acceso:</b> <span th:text="${naturalArea.typeOfAccess}"> </span></p>
    <p><b>Localizacion:</b> <span th:text="${naturalArea.geographicalLocation}"> </span></p>
    <p><b>Area:</b> <span th:text="${naturalArea.typeOfArea}"> </span></p>
    <p><b>Largo:</b> <span th:text="${naturalArea.length}"> </span></p>
    <p><b>Ancho:</b> <span th:text="${naturalArea.width}"> </span></p>
    <p><b>Características:</b> <span th:text="${naturalArea.physicalCharacteristics}"> </span></p>
    <p><b>Descripción:</b> <span th:text="${naturalArea.description}"> </span></p>
    <p><b>Orientación:</b> <span th:text="${naturalArea.orientation}"> </span></p>
    <p><b>Restringido hasta:</b> <span th:text="${naturalArea.restrictionTimePeriod}"> </span></p>
    <p><b>Ratio ocupación:</b> <span th:text="${naturalArea.occupancyRate}"> </span></p>
    <p><b>Municipio:</b> <span th:text="${naturalArea.municipality}"> </span></p>

    <h3>Lista de Zonas</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Número zona</th>
            <th scope="col">Letra</th>
            <th scope="col">Capacidad máx.</th>
            <th scope="col">Fecha creación</th>
            <th scope="col">Área natural</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zone: ${zones}">
            <td scope="row" th:text="${zone.id}"></td>
            <td th:text="${zone.zoneNumber}"></td>
            <td th:text="${zone.letter}"></td>
            <td th:text="${zone.maximumCapacity}"></td>
            <td th:text="${zone.creationDate}"></td>
            <td th:text="${zone.naturalArea}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Comentarios</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Comentario</th>
            <th scope="col">Puntuacion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Usuario</th>
            <th scope="col">Area natural</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <td scope="row" th:text="${comment.commentId}"></td>
            <td th:text="${comment.commentBody}"></td>
            <td th:text="${comment.score}"></td>
            <td th:text="${comment.date}"></td>
            <td th:text="${comment.citizenEmail}"></td>
            <td th:text="${comment.naturalArea}"></td>


            <td><a th:href="@{/comment/update/{commentId}(commentId=${comment.commentId})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
            </td>
            <td><a th:href="@{/comment/delete/{commentId}(commentId=${comment.commentId})}">
                <button type="button" class="btn btn-danger">Elimina</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="add"><button type="button" class="btn btn-success">Añadir Comentario</button></a>

    <a href="/naturalArea/list"><button type="button" class="btn btn-primary">Volver</button></a>

</div>
</body>
</html>
