<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0"><span th:text="${naturalArea.name}"></span></h2>
    <br><hr class="barra-normal"><br>

    <!-- solo se pueden gestionar las zonas y franjas horarias de los espacios restringidos -->
    <div th:if="${#strings.equals(naturalArea.typeOfAccess.name(), 'restricted')}">
        <section id="zones">
            <hr class="lineaVerde">
            <!-- SECCION DE ZONAS DEL AREA NATURAL -->
            <h3>Lista de Zonas</h3>
            <div th:if="${#lists.isEmpty(zones)}">
                <p><b>¡Todavía no ha añadido zonas a este área natural!</b></p>
            </div>
            <table th:unless="${#lists.isEmpty(zones)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Número zona</th>
                    <th scope="col">Letra</th>
                    <th scope="col">Capacidad máx.</th>
                    <th scope="col">Fecha creación</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zone: ${#lists.sort(zones)}">
                    <td th:text="${zone.zoneNumber}"></td>
                    <td th:text="${zone.letter}"></td>
                    <td th:text="${zone.maximumCapacity}"></td>
                    <td th:text="${#temporals.format(zone.creationDate,'dd/MM/yyyy')}"></td>
                    <td><a th:href="@{/zone/update/{id}(id=${zone.id})}">
                        <button type="button" class="btn btn-warning edit">Edita</button>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <td><a th:href="@{/zone/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-success okey">Añadir zona</button>
            </a></td>
        </section>


    <a href="/naturalArea/listForManagers"><button type="button" class="btn btn-primary">Volver</button></a><br><br>
</div>
    </div>

</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
