<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- es para el carrusel de imágenes -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<div th:replace="fragments/headerEnvironmental"></div>

<section id="perfil">
<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0"><span th:text="${naturalArea.name}"> </span></h2>
    <br><hr class="barra-normal"><br>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Municipio:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.municipality}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Acceso:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.typeOfAccess.descripcion}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Área:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.typeOfArea.descripcion}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Localización:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.geographicalLocation}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Largo:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.length}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Ancho:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.width}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Características físicas:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.physicalCharacteristics}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Descripción:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.description}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Orientación:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.orientation.descripcion}"></h5>
        </div>
    </div>

    <div class="row" th:if="${naturalArea.typeOfAccess.name() == 'restricted'}">
        <div class="col-3">
            <h5 class="colorMarron">Restringido hasta:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="${#temporals.format(naturalArea.restrictionTimePeriod,'dd/MM/yyyy')}"></h5>
        </div>
    </div>

    <hr class="lineaVerde">

    <!-- SECCION DE IMAGENES DEL AREA NATURAL -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h3>Imágenes <img src="/assets/img/photo.png" class="fotoBoton" alt="Menú"></h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div th:if="${#lists.isEmpty(pictures)}">
                    <p><b>¡Este área natural no tiene ninguna imagen publicada!</b></p>
                </div>
                <br>
                <!-- Carousel de imagenes -->
                <div id="miCarrusel" class="carousel slide w-50" data-ride="carousel">
                    <!-- activar la imagen 0 -->
                    <ol  class="carousel-indicators">
                        <li  th:each="picture,iterstat: ${pictures}"
                             data-target="#miCarrusel"
                             th:attr="data-slide-to=${iterstat.index}"
                             th:class="${iterstat.index}== 0 ? 'active':''"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div th:each="picture,iterstat: ${pictures}"
                             th:class="${iterstat.index}==0 ? 'carousel-item active':'carousel-item'">
                            <img th:src="@{${picture.picturePath}}" class="d-block w-100" alt="Foto del espacio natural">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#miCarrusel"
                       role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#miCarrusel"
                       role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- SECCION DE COMENTARIOS   -->
    <section id="comments">
        <hr class="lineaVerde">
        <div class="container text-center">
            <h3>Comentarios</h3>
            <br/>
            <div th:if="${#lists.isEmpty(comments)}">
                <p><b>¡Este área natural todavía no tiene comentarios!</b></p>
            </div>
            <div th:unless="${#lists.isEmpty(comments)}" class="container">
                <div th:each="comment: ${#lists.sort(comments)}" class="container" >
                    <div class="row">
                        <div class="col align-self-center">
                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <img th:if="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/starBlack.png" class="fotoBoton" alt="X">
                                <img th:unless="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/star.png" class="fotoBoton" alt="O">
                            </th:block>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                    </div>

                    <div class="row">
                        <div class="col align-self-center">
                                <span>
                                    <p th:text="${comment.commentBody}"></p>
                                </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col align-self-center">
                                <span>
                                    <p th:text="${comment.citizenName} + ' ' + ${comment.citizenSurname} + ' - ' +
                                    ${#temporals.format(comment.date,'dd/MM/yyyy')}"></p>
                                </span>
                        </div>
                    </div>

                    <div class="row"><br/></div>
                </div>
            </div>
            <br/>
        </div>
    </section>


    <!-- SECCION DE SERVICIOS FIJOS DEL AREA NATURAL -->
    <section id="serviceDates">
        <hr class="lineaVerde">
        <h3>Servicios fijos</h3>
        <div th:if="${#lists.isEmpty(serviceDates)}">
            <p><b>¡Este espacio natural no tiene asignado ningún servicio fijo!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(serviceDates)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sitio de contratación</th>
                <th scope="col">Fecha de inicio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="serviceDate: ${#lists.sort(serviceDates)}">
                <td th:text="${serviceDate.nameOfService}"></td>
                <td th:text="${serviceDate.description}"></td>
                <td th:text="${serviceDate.hiringPlace}"></td>
                <td th:text="${serviceDate.beginningDate}"></td>
            </tr>
            </tbody>
        </table>
        <td><a th:href="@{/serviceDate/list/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-primary">Mostrar todos</button>
        </a></td>
    </section>

    <!-- SECCION DE SERVICIOS TEMPORALES DEL AREA NATURAL -->
    <section id="temporalServices">
        <hr class="lineaVerde">
        <h3>Servicios temporales</h3>
        <div th:if="${#lists.isEmpty(temporalServices)}">
            <p><b>¡Este espacio natural no tiene asignado ningún servicio temporal!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(temporalServices)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de fin</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="temporalService: ${#lists.sort(temporalServices)}">
                <td th:text="${temporalService.service}"></td>
                <td th:text="${temporalService.beginningTime}"></td>
                <td th:text="${temporalService.endTime}"></td>
                <td th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></td>
                <td><a th:href="@{/temporalService/get/{id}(id=${temporalService.id})}">
                    <button type="button" class="btn btn-primary">Más información</button>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <div th:if="${#strings.equals(naturalArea.typeOfAccess.name(), 'restricted')}">
        <!-- SECCION DE ZONAS DEL AREA NATURAL -->
        <h3>Lista de Zonas</h3>
        <div th:if="${#lists.isEmpty(zones)}">
            <p><b>¡Este área natural restringida todavía no tiene zonas!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(zones)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Número zona</th>
                <th scope="col">Letra</th>
                <th scope="col">Capacidad máx.</th>
                <th scope="col">Fecha creación</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="zone: ${#lists.sort(zones)}">
                <td th:text="${zone.zoneNumber}"></td>
                <td th:text="${zone.letter}"></td>
                <td th:text="${zone.maximumCapacity}"></td>
                <td th:text="${#temporals.format(zone.creationDate,'dd/MM/yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <hr class="lineaVerde">

        <!-- SECCION DE FRANJAS HORARIAS DEL AREA NATURAL -->
        <h3>Franjas horarias</h3>
        <div th:if="${#lists.isEmpty(timeSlots)}">
            <p><b>¡Este área natural restringida todavía no tiene franjas horarias asignadas!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(timeSlots)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Núm. franja horaria</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de fin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timeSlot: ${#lists.sort(timeSlots)}">
                <td scope="row" th:text="${timeSlot.id}"></td>
                <td th:text="${#temporals.format(timeSlot.beginningDate,'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(timeSlot.endDate,'dd/MM/yyyy')}"></td>
                <td th:text="${timeSlot.beginningTime}"></td>
                <td th:text="${timeSlot.endTime}"></td>
            </tr>
            </tbody>
        </table>
        <hr class="lineaVerde">
    </div>

    <hr class="lineaVerde">
    <br><br>
    <a href="/naturalArea/listForEnvironmental"><button type="button" class="btn btn-primary">Volver</button></a><br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>

