<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0"><span th:text="${naturalArea.name}"></span></h2>
    <br><hr class="barra-normal"><br>

    <!-- SECCION DE SERVICIOS FIJOS DEL AREA NATURAL -->
    <section id="serviceDates">
        <h3>Servicios fijos</h3>
        <div th:if="${#lists.isEmpty(serviceDates)}">
            <p><b>¡Todavía no ha asignado ningún servicio fijo a este área natural!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(serviceDates)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sitio de contratación</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="serviceDate: ${#lists.sort(serviceDates)}">
                <td th:text="${serviceDate.nameOfService}"></td>
                <td th:text="${serviceDate.description}"></td>
                <td th:text="${serviceDate.hiringPlace}"></td>
                <td th:text="${serviceDate.beginningDate}"></td>
                <td><a th:href="@{/serviceDate/update/{id}(id=${serviceDate.id})}">
                    <button type="button" class="btn btn-warning edit">Edita</button>
                </a>
                </td>
                <td><button type="button" class="btn btn-danger delete" data-toggle="modal" th:data-target="${'#miModal' + serviceDate.id}">Dar de baja</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + serviceDate.id}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Dar de baja servicio fijo</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea dar de baja el servicio fijo <span th:text="${serviceDate.nameOfService}"></span>
                                     de <span th:text="${naturalArea.name}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/serviceDate/darDeBaja/{id}(id=${serviceDate.id})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(serviceDatesFaltan)}">
            <p><b>¡Todos los servicios fijos están operativos en el área natural!</b></p>
        </div>
        <div th:unless="${#lists.isEmpty(serviceDatesFaltan)}">
            <td><a th:href="@{/serviceDate/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-success okey">Asignar servicio fijo</button>
            </a></td>
        </div><br>
        <td><a th:href="@{/serviceDate/list/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-primary">Mostrar todos</button>
        </a></td>
    </section>

    <!-- SECCION DE SERVICIOS TEMPORALES DEL AREA NATURAL -->
    <section id="temporalServices">
        <hr class="lineaVerde">
        <h3>Servicios temporales</h3>
        <div th:if="${#lists.isEmpty(temporalServices)}">
            <p><b>¡Todavía no ha asignado ningún servicio temporal a este área natural!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(temporalServices)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de fin</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="temporalService: ${#lists.sort(temporalServices)}">
                <td th:text="${temporalService.service}"></td>
                <td th:text="${temporalService.beginningTime}"></td>
                <td th:text="${temporalService.endTime}"></td>
                <td th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></td>
                <td><a th:href="@{/temporalService/get/{id}(id=${temporalService.id})}">
                    <button type="button" class="btn btn-primary">Más información</button>
                </a>
                </td>
                <td><a th:href="@{/temporalService/update/{id}(id=${temporalService.id})}">
                    <button type="button" class="btn btn-warning edit">Edita</button>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
        <td><a th:href="@{/temporalService/add/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-success okey">Asignar servicio temporal</button>
        </a></td>
    </section>

    <!-- solicitar un nuevo servicio -->
    <div class="form-center" style="text-align:center;position: relative;z-index: 1;">
        <form class="form-horizontal" action="#" th:action="@{/service/solicitar/{naturalArea}(naturalArea=${naturalArea.name})}" th:object="${service}" method="post">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <button style="float: right;margin-left: 15px" type="submit" class="btn btn-success okey">Solicitar</button>
                    <input type="text" style="width:200px;float:right;" required class="form-control" placeholder="Servicio a solicitar..." th:field="*{nameOfService}"/>
                </div>
            </div>
        </form>
    </div><br>


    <a href="/naturalArea/listForManagers"><button type="button" class="btn btn-primary">Volver</button></a><br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
