<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0"><span th:text="${naturalArea.name}"></span></h2>
    <br><hr class="barra-normal"><br>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Municipio:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.municipality}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Acceso:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.typeOfAccess.descripcion}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Área:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.typeOfArea.descripcion}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Localización:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.geographicalLocation}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Largo:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.length}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Ancho:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.width}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Características físicas:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.physicalCharacteristics}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Descripción:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.description}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h5 class="colorMarron">Orientación:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="*{naturalArea.orientation.descripcion}"></h5>
        </div>
    </div>

    <div class="row" th:if="${naturalArea.typeOfAccess.name() == 'restricted'}">
        <div class="col-3">
            <h5 class="colorMarron">Restringido hasta:</h5>
        </div>
        <div class="col-6">
            <h5 class="colorTierra" th:text="${#temporals.format(naturalArea.restrictionTimePeriod,'dd/MM/yyyy')}"></h5>
        </div>
    </div>

    <br>

    <!-- Botones -->
    <td><a th:href="@{/naturalArea/update/{naturalArea}(naturalArea=${naturalArea.name})}">
        <button type="button" class="btn btn-warning edit">Editar datos</button> </a>
    </td>

    <!-- solo se pueden gestionar las zonas y franjas horarias de los espacios restringidos -->
    <div th:if="${#strings.equals(naturalArea.typeOfAccess.name(), 'restricted')}">
        <section id="zones">
            <hr class="lineaVerde">
            <!-- SECCION DE ZONAS DEL AREA NATURAL -->
            <h3>Lista de Zonas</h3>
            <div th:if="${#lists.isEmpty(zones)}">
                <p><b>¡Todavía no ha añadido zonas a este área natural!</b></p>
            </div>
            <table th:unless="${#lists.isEmpty(zones)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Número zona</th>
                    <th scope="col">Letra</th>
                    <th scope="col">Capacidad máx.</th>
                    <th scope="col">Fecha creación</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zone: ${#lists.sort(zones)}">
                    <td th:text="${zone.zoneNumber}"></td>
                    <td th:text="${zone.letter}"></td>
                    <td th:text="${zone.maximumCapacity}"></td>
                    <td th:text="${#temporals.format(zone.creationDate,'dd/MM/yyyy')}"></td>
                    <td><a th:href="@{/zone/update/{id}(id=${zone.id})}">
                        <button type="button" class="btn btn-warning edit">Edita</button>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <td><a th:href="@{/zone/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-success okey">Añadir zona</button>
            </a></td>
        </section>

        <!-- SECCION DE FRANJAS HORARIAS DEL AREA NATURAL -->
        <section id="timeSlots">
            <hr class="lineaVerde">
            <h3>Franjas horarias</h3>
            <div th:if="${#lists.isEmpty(timeSlots)}">
                <p><b>¡Todavía no ha asignado ninguna franja horaria a este área natural!</b></p>
            </div>
            <table th:unless="${#lists.isEmpty(timeSlots)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Núm. franja horaria</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                    <th scope="col">Hora de inicio</th>
                    <th scope="col">Hora de fin</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timeSlot: ${#lists.sort(timeSlots)}">
                    <td scope="row" th:text="${timeSlot.id}"></td>
                    <td th:text="${#temporals.format(timeSlot.beginningDate,'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(timeSlot.endDate,'dd/MM/yyyy')}"></td>
                    <td th:text="${timeSlot.beginningTime}"></td>
                    <td th:text="${timeSlot.endTime}"></td>
                    <td><a th:href="@{/timeSlot/update/{id}(id=${timeSlot.id})}">
                        <button type="button" class="btn btn-warning edit">Edita</button>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <td><a th:href="@{/timeSlot/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-success okey">Asignar franja horaria</button>
            </a></td><br><br><br>
        </section>
    </div>

    <!-- SECCION DE COMENTARIOS DEL AREA NATURAL -->
    <section id="comments">
        <hr class="lineaVerde">
        <h3>Comentarios</h3>
        <div th:if="${#lists.isEmpty(comments)}">
            <p><b>¡Este área natural todavía no tiene comentarios!</b></p>
        </div>
        <div th:unless="${#lists.isEmpty(comments)}" class="container">
            <div th:each="comment: ${#lists.sort(comments)}" class="row" >
                <div class="col-sm-2">
                    <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                        <img th:if="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/starBlack.png" class="fotoBoton" alt="X">
                        <img th:unless="${comment.score >= i}"  style="margin-left:2px" src="/assets/img/star.png" class="fotoBoton" alt="O">
                    </th:block>
                </div>
                <div class="col-sm-6">
                    <div class="row" th:text="${comment.commentBody}"></div>
                    <div class="row"><br/></div>
                </div>

                <div class="col-sm-3">
                    <div class="row" th:text="${comment.citizenEmail}"></div>
                    <div class="row" th:text="${#temporals.format(comment.date,'dd/MM/yyyy')}"></div>
                </div>

            </div>
        </div>
        <br/>
    </section>

    <!-- SECCION DE SERVICIOS FIJOS DEL AREA NATURAL -->
    <section id="serviceDates">
        <hr class="lineaVerde">
        <h3>Servicios fijos</h3>
        <div th:if="${#lists.isEmpty(serviceDates)}">
            <p><b>¡Todavía no ha asignado ningún servicio fijo a este área natural!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(serviceDates)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sitio de contratación</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="serviceDate: ${#lists.sort(serviceDates)}">
                <td th:text="${serviceDate.nameOfService}"></td>
                <td th:text="${serviceDate.description}"></td>
                <td th:text="${serviceDate.hiringPlace}"></td>
                <td th:text="${serviceDate.beginningDate}"></td>
                <td><a th:href="@{/serviceDate/update/{id}(id=${serviceDate.id})}">
                    <button type="button" class="btn btn-warning edit">Edita</button>
                </a>
                </td>
                <td><button type="button" class="btn btn-danger delete" data-toggle="modal" th:data-target="${'#miModal' + serviceDate.id}">Dar de baja</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + serviceDate.id}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Dar de baja servicio fijo</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea dar de baja el servicio fijo <span th:text="${serviceDate.nameOfService}"></span>
                                     de <span th:text="${naturalArea.name}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/serviceDate/darDeBaja/{id}(id=${serviceDate.id})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(serviceDatesFaltan)}">
            <p><b>¡Todos los servicios fijos están operativos en el área natural!</b></p>
        </div>
        <div th:unless="${#lists.isEmpty(serviceDatesFaltan)}">
            <td><a th:href="@{/serviceDate/add/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-success okey">Asignar servicio fijo</button>
            </a></td>
        </div><br>
        <td><a th:href="@{/serviceDate/list/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-primary">Mostrar todos</button>
        </a></td>
    </section>

    <!-- SECCION DE SERVICIOS TEMPORALES DEL AREA NATURAL -->
    <section id="temporalServices">
        <hr class="lineaVerde">
        <h3>Servicios temporales</h3>
        <div th:if="${#lists.isEmpty(temporalServices)}">
            <p><b>¡Todavía no ha asignado ningún servicio temporal a este área natural!</b></p>
        </div>
        <table th:unless="${#lists.isEmpty(temporalServices)}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de fin</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="temporalService: ${#lists.sort(temporalServices)}">
                <td th:text="${temporalService.service}"></td>
                <td th:text="${temporalService.beginningTime}"></td>
                <td th:text="${temporalService.endTime}"></td>
                <td th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></td>
                <td><a th:href="@{/temporalService/get/{id}(id=${temporalService.id})}">
                    <button type="button" class="btn btn-primary">Más información</button>
                </a>
                </td>
                <td><a th:href="@{/temporalService/update/{id}(id=${temporalService.id})}">
                    <button type="button" class="btn btn-warning edit">Edita</button>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
        <td><a th:href="@{/temporalService/add/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-success okey">Asignar servicio temporal</button>
        </a></td>
    </section>

    <!-- solicitar un nuevo servicio -->
    <div class="form-center" style="text-align:center;position: relative;z-index: 1;">
        <form class="form-horizontal" action="#" th:action="@{/service/solicitar/{naturalArea}(naturalArea=${naturalArea.name})}" th:object="${service}" method="post">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <button style="float: right;margin-left: 15px" type="submit" class="btn btn-success okey">Solicitar</button>
                    <input type="text" style="width:200px;float:right;" required class="form-control" placeholder="Servicio a solicitar..." th:field="*{nameOfService}"/>
                </div>
            </div>
        </form>
    </div>

    <!-- SECCION DE IMAGENES DEL AREA NATURAL -->
    <hr class="lineaVerde">
    <h3>Imágenes</h3>
    <div th:if="${#lists.isEmpty(pictures)}">
        <p><b>¡Todavía no ha publicado ninguna imagen de este área natural!</b></p>
    </div>
    <table th:unless="${#lists.isEmpty(pictures)}" class="table table-striped">
        <tr th:each="picture,iterador : ${pictures}">
            <td scope="row"><img class="fotoListado" th:src="${picture.picturePath}" alt="Foto del espacio natural"/></td>
            <td style="vertical-align:middle;"><button type="button" class="btn btn-danger delete" data-toggle="modal" th:data-target="${'#miModal' + iterador.index}">
                Elimina</button></td>
            <!-- VENTANA EMERGENTE -->
            <div class="modal" th:id="${'miModal' + iterador.index}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar imagen</h5>
                            <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que desea borrar esta imagen?</p>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/picture/delete/{picturePath}(picturePath=${picture.picturePath})}">
                                <button type="submit" class="btn btn-primary">Confirmar</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <!-- TODO gestionar error si la foto es demasiado grande -->
    <!-- selector de imagenes -->
    <div class="container">
        <form class="form-horizontal" action="#" th:action="@{/picture/add/{naturalArea}(naturalArea=${naturalArea.name})}"
              enctype="multipart/form-data" th:object="${picture}" method="post">
            <input required type="file" name="file" id="file" /> <br/><br/>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-success okey"><img src="/assets/img/photo.png" class="fotoBoton" alt="Icono de imagen">Añadir imagen</button>
                </div>
            </div>
            <br><br>
        </form>
    </div>

    <a href="/naturalArea/listForManagers"><button type="button" class="btn btn-primary">Volver</button></a><br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
