<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>
<!-- TODO dependiendo de si está registrado o no es un header u otro! -->

<div class="container">
    <h1> POR HACER no registrados</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- TODO POR HACER -->

    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>