<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<!-- dependiendo de si esta registrado o no tiene un header u otro -->
<td th:if="${registered != null}">
    <div th:replace="fragments/headerRegistered"></div>
</td>
<td th:if="${registered == null}">
    <div th:replace="fragments/header"></div>
</td>

<div class="container">
    <h1> POR HACER</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- TODO POR HACER -->

    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>