<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar areas naturales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de areas naturales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acceso</th>
        <th scope="col">Localización</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="naturalArea: ${naturalAreas}">

        <td th:text="${naturalArea.name}"></td>
        <td th:text="${naturalArea.typeOfAccess}"></td>
        <td th:text="${naturalArea.geographicalLocation}"></td>

        <td><a th:href="@{/naturalArea/get/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-primary"> Mas </button> </a>
        </td>

        <td><a th:href="@{/naturalArea/update/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-warning">Edita</button> </a>
        </td>
        <td><a th:href="@{/naturalArea/delete/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-danger">Esborra</button> </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir area natural</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
