<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar areas naturales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de areas naturales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acceso</th>
        <th scope="col">Municipio</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="naturalArea: ${naturalAreas.keySet()}">
        <td>
            <img th:src="${naturalAreas.get(naturalArea)}" th:alt="${naturalArea.description}" height="300"/>
        </td>
        <td> <b th:text="${naturalArea.name}"> </b></td>
        <td th:text="${naturalArea.typeOfAccess.descripcion}"></td>
        <td th:text="${naturalArea.municipality}"></td>

        <td><a th:href="@{/naturalArea/get/{naturalArea}(naturalArea=${naturalArea.name})}">
            <button type="button" class="btn btn-primary">Más</button> </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir area natural</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
