<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0">Ocupación</h2>
    <br><hr class="barra-normal"><br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Área natural</th>
            <th scope="col">Ocupación actual</th>
            <th scope="col">Capacidad máxima</th>
            <th scope="col">Total de accesos</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="occupancyData: ${occupancyDataOfNaturalAreas}">
            <td> <b th:text="${occupancyData.naturalArea.name}"> </b>  </td>
            <td> <span th:text="${occupancyData.occupancyRate}"> </span> % </td>
            <td> <span th:text="${occupancyData.maxCapacity}"> </span> </td>
            <td> <span th:text="${occupancyData.totalOccupancy}"> </span> </td>
        </tr>
        </tbody>
    </table>

    <br>

    <!-- Apartado del form para ver histórico de ocupación    -->
    <h3>Ver gráficos de históricos de ocupación</h3><br>
    <form class="form-horizontal" action="#" th:action="@{/naturalArea/occupancyPlotForm}"
          th:object="${occupancyFormData}" method="get">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Área natural:</label>
            <div class="col-sm-4">
                <select required class="form-control" id="naturalArea" type="text" th:field="*{naturalArea}">
                    <option value="No seleccionado">Selecciona un área natural</option>
                    <option th:each="naturalArea : ${naturalAreas}"
                            th:value="${naturalArea.name}"
                            th:text="${naturalArea.name}"></option>
                </select>
                <td th:if="${#fields.hasErrors('naturalArea')}" th:errors="*{naturalArea}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="typeOfPeriod">Generar gráfico:</label>
            <div class="col-sm-4">
                <select class="form-control" required id="typeOfPeriod" type="text" th:field="*{typeOfPeriod}">
                    <option th:each="typeOfPeriodvalue: ${T(es.uji.ei102720mgph.SANA.enums.TypeOfPeriod).values()}"
                            th:value="${typeOfPeriodvalue}" th:text="${typeOfPeriodvalue.descripcion}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success ok">Ver histórico de ocupación</button>
            </div>
        </div>
    </form>

    <a href="/"><button type="button" class="btn btn-primary"><img src="/assets/img/home.png" class="fotoBoton" alt="Menú">Volver al menú</button></a>

    <br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>