<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">
    <h2> Ocupación de las areas naturales restringidas </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Area natural</th>
            <th scope="col">Ocupación actual (Hoy)</th>
            <th scope="col">Capacidad máxima</th>
            <th scope="col">Total de accesos</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="occupancyData: ${occupancyDataOfNaturalAreas}">
            <td> <b th:text="${occupancyData.naturalArea}"> </b>  </td>
            <td> <span th:text="${occupancyData.occupancyRate}"> </span> % </td>
            <td> <span th:text="${occupancyData.maxCapacity}"> </span> </td>
            <td> <span th:text="${occupancyData.totalOccupancy}"> </span> </td>
        </tr>
        </tbody>
    </table>

    <a href="/section/managers"><button type="button" class="btn btn-primary">Volver al menú</button></a>

    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>