<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary mb-0">Histórico de ocupación</h2>
        <br><hr class="barra-normal"><br>

        <img th:src="@{plot}" alt="Grafico"/>
        <br><br>

        <a href="/"><button type="button" class="btn btn-primary">Volver al menú</button></a>
        <br><br>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>