<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<div th:replace="fragments/header" ></div>

<h1>Areas naturales</h1>

<table class="table table-striped">
    <tbody>
    <div th:with="naturalAreas=${naturalAreasPaged[__${selectedPage}__]}">

        <tr th:each="naturalArea, iterator : ${naturalAreas}">
            <td>
                <!--  NATURAL AREAS PICTURE  -->
                <img th:src="${pathPicturesPaged.get(selectedPage).get(iterator.index)}" alt="Foto del area natural" height="200"/>
            </td>

            <td>
                <!--  NATURAL AREAS INFORMATION  -->
                <h5 th:text="${naturalArea.name}"> </h5>
                <br>
                <p th:text="${naturalArea.municipality}"></p>
                <br><br>
                <p th:text="${naturalArea.typeOfAccess.descripcion}"></p>
            </td>

            <td>
                <!--  BUTTONS  -->
                <a th:href="@{/naturalArea/get/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-primary">Más Información</button> </a>
                <br> <br>
                <a th:href="@{/reservation/add/}">
                    <button type="button" class="btn btn-primary"> Realizar reserva</button> </a>
            </td>

            <!-- funcionalidad exclusiva para gestores municipales
            <td><a th:href="@{/naturalArea/update/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-warning">Edita</button> </a>
            </td>
            <td><a th:href="@{/naturalArea/delete/{naturalArea}(naturalArea=${naturalArea.name})}">
                <button type="button" class="btn btn-danger">Esborra</button> </a>
            </td>
            -->

        </tr>
    </div>
    </tbody>
</table>

<!--  PAGINATION BUTTONS  -->
<nav aria-label="seleccion de pagina de naturalAreas">
    <ul class="pagination justify-content-center">
        <li th:class="page-item" th:if="${#lists.size(naturalAreasPaged) > 0}"
            th:each="pageNumber : ${pageNumbers}"
            th:classappend="${pageNumber==selectedPage+1} ? active">
            <a th:href="@{/naturalArea/pagedlist?page={sele}(sele=${pageNumber-1})}"
               th:text=${pageNumber}
               th:class="page-link">
            </a>
        </li>
    </ul>
</nav>

<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>

<br> <br>

<div th:replace="fragments/footer" ></div>

</body>
</html>
