<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>

<div class="container">
    <h2>Modificar área natural</h2><br>
    <form class="form-horizontal" action="#" th:action="@{/naturalArea/update}"
          th:object="${naturalArea}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="30" class="form-control" id="name" th:field="*{name}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Acceso:</label>
            <div class="col-sm-4">
                <span style="margin:6px;" th:each="typeOfAccessvalue : ${T(es.uji.ei102720mgph.SANA.enums.TypeOfAccess).values()}">
                   <input type ="radio" required th:field ="*{typeOfAccess}" th:value ="${typeOfAccessvalue}" />
                   <label th:for="${#ids.prev('typeOfAccess')}" th:text ="${typeOfAccessvalue.descripcion}"></label>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="geographicalLocation">Coordenadas ubicación:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="40" placeholder="39º51'52.0''N 0º03'54.2''W" class="form-control" id="geographicalLocation" th:field="*{geographicalLocation}" />
            </div>
        </div>

        <!--
        <label class="control-label col-sm-2" for="latitud">Latitud:</label>
        <div class="col-sm-4">
            <input type="text" placeholder="39º51'52.0''"required class="form-control" id="latitud" th:field="*{latitud}" />
            <td><select class="form_control" type="text" th:field="*{latitudOrientacion}">
                <option value="N">Norte (N)</option>
                <option value="S">Sur (S)</option>
            </select>
            </td>
        </div>
        <label class="control-label col-sm-2" for="longitud">Longitud:</label>
        <div class="col-sm-4">
            <input type="text" placeholder="0º03'54.2''" required class="form-control" id="longitud" th:field="*{longitud}" />
            <td><select class="form_control" type="text" th:field="*{longitudOrientacion}">
                <option value="E">Este (E)</option>
                <option value="W">Oeste (W)</option>
            </select>
            </td>
        </div>
        -->

        <div class="form-group row">
            <label class="control-label col-sm-2" for="typeOfArea">Tipo de area:</label>
            <div class="col-sm-4">
                <select class="form_control" required id="typeOfArea" type="text" th:field="*{typeOfArea}">
                    <option th:each="typeOfAreavalue: ${T(es.uji.ei102720mgph.SANA.enums.TypeOfArea).values()}"
                            th:value="${typeOfAreavalue}" th:text="${typeOfAreavalue.descripcion}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="length">Largo:</label>
            <div class="col-sm-4">
                <input type="number" min="0.0" required step="0.1" class="form-control" id="length" th:field="*{length}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="width">Ancho:</label>
            <div class="col-sm-4">
                <input type="number" min="0.0" required step="0.1" class="form-control" id="width" th:field="*{width}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="physicalCharacteristics">Características físicas:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="60" class="form-control" placeholder="El suelo es arena, roca..." id="physicalCharacteristics" th:field="*{physicalCharacteristics}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-4">
                <textarea rows="3" required maxlength="100" class="form-control" id="description" th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Orientación:</label>
            <div class="col-sm-4">
                <span style="margin:6px;" th:each="orientationvalue : ${T(es.uji.ei102720mgph.SANA.enums.Orientation).values()}">
                   <input type ="radio" required th:field ="*{orientation}" th:value ="${orientationvalue}" />
                   <label th:for="${#ids.prev('orientation')}" th:text ="${orientationvalue.descripcion}"></label>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="municipality">Municipio:</label>
            <div class="col-sm-4">
                <select class="form_control" required id="municipality" type="text" th:field="*{municipality}">
                    <option value="No seleccionado">Selecciona un municipio</option>
                    <option th:each="municipalityvalue : ${municipalityList}"
                            th:value="${municipalityvalue}"
                            th:text="${municipalityvalue}"></option>
                </select>
                <td th:if="${#fields.hasErrors('municipality')}" th:errors="*{municipality}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Actualizar área natural</button>
            </div>
        </div>
    </form>
    <a href="/naturalArea/listManagers"><button type="button" class="btn btn-primary">Volver al listado</button></a>
    <a th:href="@{/naturalArea/getManagers/{naturalAreaName}(naturalAreaName=${naturalArea.name})}">
        <button type="submit" class="btn btn-primary">Volver al área natural</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
