<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0" > Modificar Área natural</h2>
    <br><hr class="barra-normal"><br>

    <form class="form-horizontal" action="#" th:action="@{/naturalArea/update}"
          th:object="${naturalArea}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="30" readonly="readonly" class="form-control" id="name" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Acceso:</label>
            <div class="col-sm-4">
                <span style="margin:6px;" th:each="typeOfAccessvalue : ${T(es.uji.ei102720mgph.SANA.enums.TypeOfAccess).values()}">
                   <input type ="radio" required th:field ="*{typeOfAccess}" th:value ="${typeOfAccessvalue}" />
                   <label th:for="${#ids.prev('typeOfAccess')}" th:text ="${typeOfAccessvalue.descripcion}"></label>
                </span>
                <td th:if="${#fields.hasErrors('typeOfAccess')}" th:errors="*{typeOfAccess}"></td>
            </div>
        </div>

        <h6>Coordenadas geográficas</h6>

        <div class="container">
            <div class="row justify-content-md-left">
                <div class="col-sm-2">
                    Latitud:
                </div>
                <div class="col-auto text-right">
                    <input required style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" class="form-control" id="latitudGrados" th:field="*{latitudGrados}"/>
                </div>
                <div class="col-auto text-left" >
                    <p style="font-size:x-large;margin-left:auto">º</p>
                </div>
                <div class="col-auto">
                    <input required style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" class="form-control" id="latitudMin" th:field="*{latitudMin}" />
                </div>
                <div class="col-auto">
                    <p style="font-size:x-large">′</p>
                </div>
                <div class="col-auto">
                    <input required style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" class="form-control" id="latitudSeg" th:field="*{latitudSeg}" />
                </div>
                <div class="col-auto">
                    <p style="font-size:x-large">″</p>
                </div>
                <div class="col-auto">
                    <select class="form-control" type="text" th:field="*{latitudLetra}">
                        <option value="N">Norte (N)</option>
                        <option value="S">Sur (S)</option>
                    </select>
                </div>
            </div>
            <td th:if="${#fields.hasErrors('latitudGrados')}" th:errors="*{latitudGrados}"></td>
            <td th:if="${#fields.hasErrors('latitudMin')}" th:errors="*{latitudMin}"></td>
            <td th:if="${#fields.hasErrors('latitudSeg')}" th:errors="*{latitudSeg}"></td>
            <td th:if="${#fields.hasErrors('latitudLetra')}" th:errors="*{latitudLetra}"></td>

            <div class="row justify-content-md-left">
                <div class="col-sm-2">
                    Longitud:
                </div>
                <div class="col-md-auto">
                    <input style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" required class="form-control" id="longitudGrados" th:field="*{longitudGrados}" />                </div>
                <div class="col-md-auto" >
                    <p style="font-size:x-large;">º</p>
                </div>
                <div class="col-md-auto">
                    <input style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" required class="form-control" id="longitudMin" th:field="*{longitudMin}" />                </div>
                <div class="col-md-auto">
                    <p style="font-size:x-large">′</p>
                </div>
                <div class="col-md-auto">
                    <input style="width: 70%;" type="number" min="0.0" max="180.0" step="0.1" required class="form-control" id="longitudSeg" th:field="*{longitudSeg}" />                </div>
                <div class="col-md-auto">
                    <p style="font-size:x-large">″</p>
                </div>
                <div class="col-md-auto">
                    <select class="form-control" type="text" th:field="*{longitudLetra}">
                        <option value="E">Este (E)</option>
                        <option value="W">Oeste (W)</option>
                    </select>
                </div>
            </div>
            <td th:if="${#fields.hasErrors('longitudGrados')}" th:errors="*{longitudGrados}"></td>
            <td th:if="${#fields.hasErrors('longitudMin')}" th:errors="*{longitudMin}"></td>
            <td th:if="${#fields.hasErrors('longitudSeg')}" th:errors="*{longitudSeg}"></td>
            <td th:if="${#fields.hasErrors('longitudLetra')}" th:errors="*{longitudLetra}"></td>
        </div><br>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="typeOfArea">Tipo de área:</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" required class="form-control" id="typeOfArea" th:field="*{typeOfArea}" />
                <td th:if="${#fields.hasErrors('typeOfArea')}" th:errors="*{typeOfArea}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="length">Largo:</label>
            <div class="col-sm-4">
                <input type="number" min="0.0" required step="0.1" class="form-control" id="length" th:field="*{length}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="width">Ancho:</label>
            <div class="col-sm-4">
                <input type="number" min="0.0" required step="0.1" class="form-control" id="width" th:field="*{width}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="physicalCharacteristics">Características físicas:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="60" class="form-control" placeholder="El suelo es arena, roca..." id="physicalCharacteristics" th:field="*{physicalCharacteristics}" />
                <td th:if="${#fields.hasErrors('physicalCharacteristics')}" th:errors="*{physicalCharacteristics}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-4">
                <textarea rows="3" required maxlength="100" class="form-control" id="description" th:field="*{description}"></textarea>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Orientación:</label>
            <div class="col-sm-4">
                <span style="margin:6px;" th:each="orientationvalue : ${T(es.uji.ei102720mgph.SANA.enums.Orientation).values()}">
                   <input type ="radio" required th:field ="*{orientation}" th:value ="${orientationvalue}" />
                   <label th:for="${#ids.prev('orientation')}" th:text ="${orientationvalue.descripcion}"></label>
                </span>
                <td th:if="${#fields.hasErrors('orientation')}" th:errors="*{orientation}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="municipality">Municipio:</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" required class="form-control" id="municipality" th:field="*{municipality}" />
                <td th:if="${#fields.hasErrors('municipality')}" th:errors="*{municipality}"></td>
            </div>
        </div>

        <!-- necesario para que pase a la siguiente vista el atributo -->
        <input type="hidden" th:field ="*{restrictionTimePeriod}"/>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success okey">Actualizar área natural</button>
            </div>
        </div>

    </form>
    <a th:href="@{/naturalArea/getForManagers/{naturalAreaName}(naturalAreaName=${naturalArea.name})}">
        <button type="submit" class="btn btn-primary">Volver</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
