<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar destinatarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de destinatarios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Fecha de baja</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receiver: ${receivers}">
        <td scope="row" th:text="${receiver.email}"></td>
        <td th:text="${receiver.name}"></td>
        <td th:text="${receiver.surname}"></td>
        <td th:text="${#temporals.format(receiver.dateOfBirth,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(receiver.registrationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(receiver.leavingDate,'dd/MM/yyyy')}"></td>
        <td><a th:href="@{/receiver/update/{email}(email=${receiver.email})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/receiver/delete/{email}(email=${receiver.email})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir receiver</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
