<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar destinatario</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Modificar destinatario</h2>
    <form class="form-horizontal" action="#" th:action="@{/receiver/update}"
          th:object="${receiver}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" th:field="*{email}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" th:field="*{name}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="surname" th:field="*{surname}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dateOfBirth">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="registrationDate">Fecha de registro:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="registrationDate" th:field="*{registrationDate}" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="leavingDate">Fecha de baja:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="leavingDate" th:field="*{leavingDate}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/receiver/list"><button type="button" class="btn btn-primary">Volver</button></a>
                <button type="submit" class="btn btn-success">Actualizar destinatario</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
