<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container text-center">
    <h2 style="font-size:40px">¡Bienvenido a SANA!</h2>
    <img class="img-fluid d-block mx-auto mb-5" style="height:250px" src="/assets/img/LOGO_mono.png">
    <div class="form-group">
    <a href="/naturalArea/listManagers"><button type="button" class="btn btn-primary btn-xl">Áreas naturales</button></a>
        <a href="/naturalArea/add"><button type="button" class="btn btn-primary btn-xl">Crear área natural</button></a>
        <a href="/naturalArea/occupancy"><button type="button" class="btn btn-primary btn-xl">Histórico de ocupación</button></a>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto" >
            <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#miModal">
                <img class="fotoBoton" src="/assets/img/logout.png">Cerrar sesión</button>
        </div>
    </div>
    <br><br>

    <!-- VENTANA EMERGENTE -->
    <div class="modal" id="miModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cerrar sesión</h5>
                    <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que desea cerrar su sesión actual?</p>
                </div>
                <div class="modal-footer">
                    <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
