<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div>
    <h1>Acciones del gestor municipal</h1>
    <a href="/naturalArea/listManagers"><button type="button" class="btn btn-success">Gestionar áreas naturales</button></a>
    <a href="/naturalArea/add"><button type="button" class="btn btn-success">Crear área natural</button></a>
    <a href="/naturalArea/occupancy"><button type="button" class="btn btn-success">Histórico ocupación áreas naturales</button></a>
    <br><br>
    <a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
