<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestor municipal</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Acciones del gestor municipal</h1>

<a href="../naturalArea/add"><button type="button" class="btn btn-success">Crear área natural</button></a>
<a href="../service/assign"><button type="button" class="btn btn-success">Asignar servicio</button></a>
<a href="../naturalArea/list"><button type="button" class="btn btn-success">Áreas naturales</button></a>
<a href="../naturalArea/occupancy"><button type="button" class="btn btn-success">Ocupación áreas naturales</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>
</html>
