<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar franjas horarias</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de franjas horarias</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha de fin</th>
        <th scope="col">Hora de inicio</th>
        <th scope="col">Hora de fin</th>
        <th scope="col">Area natural</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timeSlot: ${timeSlots}">
        <td scope="row" th:text="${timeSlot.id}"></td>
        <td th:text="${timeSlot.beginningDate}"></td>
        <td th:text="${timeSlot.endDate}"></td>
        <td th:text="${timeSlot.beginningTime}"></td>
        <td th:text="${timeSlot.endTime}"></td>
        <td th:text="${timeSlot.naturalArea}"></td>
        <td><a th:href="@{/timeSlot/update/{id}(id=${timeSlot.id})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/timeSlot/delete/{id}(id=${timeSlot.id})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir franja horaria</button></a>
<a href="../"><button type="button" class="btn btn-success">Volver al menú principal</button></a>
</body>
</html>
