<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar franja horaria</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Modificar franja horaria</h2>
    <form class="form-horizontal" action="#" th:action="@{/timeSlot/update}"
          th:object="${timeSlot}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Area natural:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="naturalArea" th:field="*{naturalArea}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="beginningDate">Fecha de inicio:</label>
            <div class="col-sm-4">
                <input type="date" required placeholder="yyyy-MM-dd" class="form-control" id="beginningDate" th:field="*{beginningDate}" />
                <td th:if="${#fields.hasErrors('beginningDate')}" th:errors="*{beginningDate}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="endDate">Fecha de fin:</label>
            <div class="col-sm-4">
                <input type="date" placeholder="yyyy-MM-dd" required class="form-control" id="endDate" th:field="*{endDate}" />
                <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="beginningTime">Hora de inicio:</label>
            <div class="col-sm-4">
                <input type="time" placeholder="HH:mm" required class="form-control" id="beginningTime" th:field="*{beginningTime}"/>
                <td th:if="${#fields.hasErrors('beginningTime')}" th:errors="*{beginningTime}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="endTime">Hora de fin:</label>
            <div class="col-sm-4">
                <input type="time" placeholder="HH:mm" required class="form-control" id="endTime" th:field="*{endTime}"/>
                <td th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Actualizar franja horaria</button>
            </div>
        </div>
    </form>

    <a th:href="@{/naturalArea/getManagers/{naturalAreaName}(naturalAreaName=${timeSlot.naturalArea})}">
        <button type="submit" class="btn btn-primary">Volver al área natural</button>
    </a>

</div>
</body>
</html>