<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div th:replace="fragments/header"></div>

    <!-- NATURAL AREAS LISTED SECTION    -->
    <section class="text-white bg-primary mb-0" id="natural_areas">
        <div class="container">
            <div class="container" th:replace="/naturalArea/pagedlist"></div>
        </div>
    </section>

<div th:replace="fragments/footer"></div>
</body>
</html>