<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>

<section id="contact">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">Contáctanos</h2>
        <br>
        <hr class="barra-normal">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" novalidate="novalidate" th:action="@{contactanos/enviarCorreo}" th:object="${email}" method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Email</label>
                            <input class="form-control" type="email" id="sanaUser" th:field="*{sanaUser}" style="background-color: #e8e6e8" required placeholder="Email "><small class="form-text text-danger help-block"></small>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Asunto</label>
                            <input class="form-control" type="tel" id="subject" th:field="*{subject}" style="background-color: #e8e6e8" required placeholder="Asunto"><small class="form-text text-danger help-block"></small>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea class="form-control" id="textBody" th:field="*{textBody}" style="background-color: #e8e6e8" required placeholder="Mensaje" rows="3"></textarea><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>