<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>

<section class="inicio_sesion">
<div class="container">
    <h2 class="text-uppercase text-center text-secondary">Registrarse</h2>
    <br>
    <hr class="barra-normal">
    <br>
    <br>
    <img src="/assets/img/perfil.png" style="display:block; position: relative; margin:auto; width: 170px; height: 170px;">
    <br>
    <h3 style="text-align:center;">Bienvenido al registro de SANA</h3>
    <br>
    <form class="form-center" th:action="@{register_form/registration}"  th:object="${registrationCitizen}" style=" background-color: #e8e6e8!important;position: relative;
                    z-index: 1; background: #FFFFFF; max-width: 70%; margin: 0 auto auto; padding: 40px; text-align: center;">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email" >Email:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" required maxlength="30" type="text" class="form-control" id="email" th:field="*{email}" />
                <!--<div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->
                <td th:if="${#strings.equals(emailRepetido, 'repetido')}">El email ya está registrado en la apliación</td>
            </div>
            <label class="control-label col-sm-2" for="street">Calle:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" maxlength="40" type="text" required class="form-control" id="street" th:field="*{street}" />
                <!--<div class="error" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>-->
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
            <div class="col-sm-4">
                <input  style="width: 60%;" maxlength="15" type="text" required class="form-control" id="nombre" th:field="*{nombre}"  />
                <!--<div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>-->
            </div>
            <label class="control-label col-sm-2" for="number">Número:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="number" min="1" required class="form-control" id="number" th:field="*{number}"/>
                <!--<div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>-->
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" maxlength="30" type="text" required class="form-control" id="apellidos" th:field="*{apellidos}" />
                <!--<div class="error" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></div>-->
            </div>
            <label class="control-label col-sm-2" for="floorDoor">Piso y puerta:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" maxlength="10" type="text" required class="form-control" id="floorDoor" th:field="*{floorDoor}"/>
                <!--<div class="error" th:if="${#fields.hasErrors('floorDoor')}" th:errors="*{floorDoor}"></div>-->
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dni">DNI/NIE:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" minlength="9" maxlength="9" type="text" required class="form-control" id="dni" th:field="*{dni}"/>
                <!--<div class="error" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>-->
                <td th:if="${#strings.equals(NIERepetido, 'repetido')}">El DNI/NIE ya está registrado en la apliación</td>
            </div>
            <label class="control-label col-sm-2" for="city">Ciudad:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" maxlength="30" type="text" required class="form-control" id="city" th:field="*{city}"/>
                <!--<div class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>-->
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dateOfBirth">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="date" placeholder="yyyy-MM-dd" required class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"  />
                <!--<div class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>-->
            </div>
            <label class="control-label col-sm-2" for="postalCode">Código postal:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" minlength="5" maxlength="5" type="text" required class="form-control" id="postalCode" th:field="*{postalCode}" />
                <!--<div class="error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>-->
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="telefono">Número de teléfono:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" minlength="9" maxlength="9" type="text" required class="form-control" id="telefono" th:field="*{telefono}"  />
                <!--<div class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>-->
                <td th:if="${#strings.equals(telfRepetido, 'repetido')}">El teléfono ya está registrado en la apliación</td>
            </div>
            <label class="control-label col-sm-2" for="country">País:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" maxlength="30" type="text" required class="form-control" id="country" th:field="*{country}" />
                <!--<div class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>-->
            </div>
        </div>

        <div class="form-group row">

            <label class="control-label col-sm-2" for="password">Contraseña:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="password" minlength="4" maxlength="4" placeholder="4 números" required class="form-control" id="password" th:field="*{password}" />
                <!--<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
            </div>

            <label class="control-label col-sm-2" for="passwordComprovation">Contraseña:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="password" minlength="4" maxlength="4" placeholder="4 números" required class="form-control" id="passwordComprovation" th:field="*{passwordComprovation}" />
                <!--<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
            </div>
        </div>

        <br>

        <div class="form-group row" >
            <div class="col-sm-offset-2 col-sm-7">
                <a href="/inicio/login"><button type="button" class="btn btn-primary" style="float:right;">Volver</button></a>
                <button th:data-target="${'#miModal'}" type="submit" style="float:right;" class="btn btn-primary" data-toggle="modal" data-target="#miModal">Registrarse</button>
            </div>
        </div>

    </form>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>