<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SANA</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/untitled.css">
    <link rel="icon" href="../assets/img/LOGO_hoja.png" type="image/png">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">SANA</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../inicio/login">Inicio Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="text-center text-white bg-primary masthead">
    <div class="container">
        <h1>SANA</h1>
        <hr class="star-light">
        <img src="/assets/img/perfil.png" style="display:block; position: relative; margin:auto; width: 170px; height: 170px;">
    </div>
    <br>
    <h3 style="text-align:center;">Bienvenido al registro de SANA</h3>
    <br>
    <form class="form-center" th:action="@{register_form/registration}"  th:object="${registrationCitizen}" style=" background-color: #e8e6e8!important; ;position: relative;
                    z-index: 1; background: #FFFFFF; max-width: 70%; margin: 0 auto auto; padding: 40px; text-align: center;">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email" >Email:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="email" th:field="*{email}" />
            </div>
            <label class="control-label col-sm-2" for="street">Calle:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="street" th:field="*{street}" />
            </div>

        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
            <div class="col-sm-4">
                <input  style="width: 60%;" type="text" required class="form-control" id="nombre" th:field="*{nombre}"  />
            </div>
            <label class="control-label col-sm-2" for="floorDoor">Piso y puerta:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="floorDoor" th:field="*{floorDoor}"/>
            </div>

        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="apellidos" th:field="*{apellidos}" />
            </div>
            <label class="control-label col-sm-2" for="city">Ciudad:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="city" th:field="*{city}" />
            </div>

        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dni">DNI/NIE:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="dni" th:field="*{dni}"  />
            </div>

            <label class="control-label col-sm-2" for="number">Número:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="number" min="1" required class="form-control" id="number" th:field="*{number}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dateOfBirth">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="date" placeholder="yyyy-MM-dd" required class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"  />
            </div>

            <label class="control-label col-sm-2" for="postalCode">Código postal:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="postalCode" th:field="*{postalCode}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="telefono">Número de teléfono:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="telefono" th:field="*{telefono}"  />
            </div>

            <label class="control-label col-sm-2" for="country">País:</label>
            <div class="col-sm-4">
                <input style="width: 60%;" type="text" required class="form-control" id="country" th:field="*{country}" />
            </div>
        </div>

        <br>

        <div class="form-group row" >
            <div class="col-sm-offset-2 col-sm-7">
                <a href="/inicio/login"><button type="button" class="btn btn-primary" style="float:right; text-align:center;">Volver</button></a>
                <button type="submit" style="float:right; text-align:center;" class="btn btn-success">Registrarse</button>
            </div>
        </div>

    </form>
</header>

<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Dónde estamos</h4>
                <p>Castellón de la Plana, España<br>UJI - Universitat Jaume I</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Síguenos</h4><p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-google fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">Sobre nosotros</h4>
                <p>SANA es un proyecto realizado en la UJI por alumnos de Ingenieria Informática durante las asignaturas EI1023 y EI1027</p>
            </div>
        </div>
    </div>
</footer>
<script src="../../static/assets/js/jquery.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="../../static/assets/js/freelancer.js"></script>
</body>

</html>