<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body id="page-top">
    <!--<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">SANA</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#natural_areas">Áreas Naturales</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="inicio/login">Iniciar Sesión</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="inicio/contactanos">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    -->

    <div th:replace="fragments/header"></div>

    <header class="text-center text-white bg-primary">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="../assets/img/LOGO_mono.png">
            <h2 style="font-size:40px">¡Bienvenido a SANA!</h2>
            <h2>Safe Access to Natural Areas</h2>
            <br>
            <hr class="barra-normal">
            <br>
            <br>
            <h4 class="font-weight-light mb-0">Esta web te permitirá realizar reservas en las áreas naturales de
                la Comunidad Valenciana, lugares mágicos en los que pasar momentos agradables en plena naturaleza. </h4>
            <br><br>
            <h3> TODO AL ALCANCE DE TU MANO </h3>
        </div>
    </header>

    <section class="text-white bg-primary mb-0" id="natural_areas">
        <div class="container">
            <div class="container" th:replace="/naturalArea/pagedlist"></div>
        </div>

    </section>
<div th:replace="fragments/footer"></div>
</body>
</html>