<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>

<div class="container">

<p style="font-family:Montserrat">
    <b>Títulos: Montserrat</b><br>
ABCDEFGHIJKLMNÑOPQRSTUVWXYZ<br>
abcdefghijklmnñopqrstuvwxyz<br>
1234567890¡!¿?%*()^@&#...</p><br>


<p><b>Cuerpo de texto en Windows: Segoe UI</b><br>
    ABCDEFGHIJKLMNÑOPQRSTUVWXYZ<br>
    abcdefghijklmnñopqrstuvwxyz<br>
    1234567890¡!¿?%*()^@&#...
</p>
<br>

<p style="font-family:arial">
    <b>Botones: Arial</b><br>
    ABCDEFGHIJKLMNÑOPQRSTUVWXYZ<br>
    abcdefghijklmnñopqrstuvwxyz<br>
    1234567890¡!¿?%*()^@&#...
</p>
<br>

</div>
<div th:replace="fragments/footer"></div>
</body>
</html>