<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo email</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Nuevo email</h2>
    <form class="form-horizontal" action="#" th:action="@{/email/add}"
          th:object="${email}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="id">Id:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="id" th:field="*{id}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="subject">Asunto:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="subject" th:field="*{subject}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="textBody">Contenido:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="textBody" th:field="*{textBody}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="sender">Emisor:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="sender" th:field="*{sender}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="date">Fecha envío:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="date" th:field="*{date}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="receiver">Receptor:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="receiver" th:field="*{receiver}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="/email/list"><button type="button" class="btn btn-primary">Volver</button></a>
                <button type="submit" class="btn btn-primary">Añadir email</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
