<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0" > Añadir nueva zona </h2>
    <br><hr class="barra-normal"><br>

    <form class="form-horizontal" action="#" th:action="@{/zone/add}"
          th:object="${zone}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Área natural:</label>
            <div class="col-sm-4">
                <input type="text" required readonly="readonly" class="form-control" id="naturalArea" th:field="*{naturalArea}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="zoneNumber">Número zona:</label>
            <div class="col-sm-4">
                <input type="number" min="1" required class="form-control" id="zoneNumber" th:field="*{zoneNumber}" />
                <td th:if="${#fields.hasErrors('zoneNumber')}" th:errors="*{zoneNumber}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="letter">Letra:</label>
            <div class="col-sm-4">
                <input type="text" placeholder="A" required maxlength="1" class="form-control" id="letter" th:field="*{letter}" />
                <td th:if="${#fields.hasErrors('letter')}" th:errors="*{letter}"></td>
                <td th:if="${#strings.equals(claveRepetida, 'repetida')}">La combinación de número y letra ya está en uso</td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="maximumCapacity">Capacidad máx.:</label>
            <div class="col-sm-4">
                <input type="number" required class="form-control" id="maximumCapacity" th:field="*{maximumCapacity}"/>
                <td th:if="${#fields.hasErrors('maximumCapacity')}" th:errors="*{maximumCapacity}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success okey">Añadir zona</button>
            </div>
        </div>

    </form>

    <a th:href="@{/naturalArea/getManagers/{naturalAreaName}(naturalAreaName=${zone.naturalArea})}">
        <button type="submit" class="btn btn-primary">Volver al área natural</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
