<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar zona</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Modificar zona</h2>
    <form class="form-horizontal" action="#" th:action="@{/zone/update}"
          th:object="${zone}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="id">Id:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="id" th:field="*{id}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="zoneNumber">Número zona:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="zoneNumber" th:field="*{zoneNumber}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="letter">Letra:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="letter" th:field="*{letter}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="number">Número:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="number" th:field="*{number}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="maximumCapacity">Capacidad máx.:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="maximumCapacity" th:field="*{maximumCapacity}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="naturalArea">Área natural (nombre):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="naturalArea" th:field="*{naturalArea}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Actualizar zona</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
