<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0" > Modificar zona </h2>
    <br><hr class="barra-normal"><br>

    <form class="form-horizontal" action="#" th:action="@{/zone/update}"
          th:object="${zone}" th:field="*{creationDate}"method="post">

        <h4 style="text-align: center"><i>Zona <span th:text="${zone.zoneNumber}"></span><span th:text="${zone.letter}"></span>
         en <span th:text="${zone.naturalArea}"></span></i></h4><br>

        <input required type="hidden" th:field="*{id}" />
        <input required type="hidden" th:field="*{zoneNumber}" />
        <input required type="hidden" th:field="*{letter}" />
        <input required type="hidden" th:field ="*{creationDate}"/>
        <input required type="hidden" th:field ="*{naturalArea}"/>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="maximumCapacity">Capacidad máx.:</label>
            <div class="col-sm-4">
                <input type="number" required class="form-control" id="maximumCapacity" th:field="*{maximumCapacity}"/>
                <td th:if="${#fields.hasErrors('maximumCapacity')}" th:errors="*{maximumCapacity}"></td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success okey">Actualizar zona</button>
            </div>
        </div>

    </form>

    <a th:href="@{/zone/getForManagersZones/{naturalAreaName}(naturalAreaName=${zone.naturalArea})}">
        <button type="submit" class="btn btn-primary">Volver</button>
    </a>
    <br><br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>

