<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/header"></div>

<div class="container">
    <h2>Nuevo comentario</h2>
    <form class="form-horizontal" action="#" th:action="@{/comment/add}"
          th:object="${comment}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="commentBody">Comentario:</label>
            <div class="col-sm-4">
                <input type="text" required class="form-control" id="commentBody" th:field="*{commentBody}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="score">Puntuación (0-5):</label>
            <div class="col-sm-4">
                <input type="number" required min="0" max="5" class="form-control" id="score" th:field="*{score}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Añadir comentario</button>
            </div>
        </div>
    </form>

    <!--
    <a th:href="@{/naturalArea/get/{naturalAreaName}(naturalAreaName=${comment.naturalArea})}">
        <button type="submit" class="btn btn-primary">Volver al área natural</button>
    </a>-->
    <br><br>

</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
