<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar comentarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de comentarios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Comentario</th>
        <th scope="col">Puntuacion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Email ciudadano</th>
        <th scope="col">Area natural</th>

        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${#lists.sort(comments)}">
        <td scope="row" th:text="${comment.commentId}"></td>
        <td th:text="${comment.commentBody}"></td>
        <td th:text="${comment.score}"></td>
        <td th:text="${#temporals.format(comment.date,'dd/MM/yyyy')}"></td>
        <td th:text="${comment.citizenEmail}"></td>
        <td th:text="${comment.naturalArea}"></td>


        <td><a th:href="@{/comment/update/{commentId}(commentId=${comment.commentId})}">
            <button type="button" class="btn btn-warning">Edita</button>
        </a>
        </td>
        <td><a th:href="@{/comment/delete/{commentId}(commentId=${comment.commentId})}">
            <button type="button" class="btn btn-danger">Elimina</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añadir Comentario</button></a>
<a href="../"><button type="button" class="btn btn-primary">Volver al menú principal</button></a>
</body>

</html>
