<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">Modificar municipio</h2>
    <br><hr class="barra-normal"><br>
    <form class="form-horizontal" action="#" th:action="@{/municipalManager/add}"
          th:object="${municipalManager}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="username">Nombre de usuario:</label>
            <div class="col-sm-4">
                <input type="text" required maxlength="15" class="form-control" id="username" th:field="*{username}" />
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
                <td th:if="${#strings.equals(usernameRepetido, 'repetido')}">El nombre de usuario ya está registrado en la apliación</td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="password">Contraseña:</label>
            <div class="col-sm-4">
                <input type="password" maxlength="20" required class="form-control" id="password" th:field="*{password}" />
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="password">Repita la contraseña:</label>
            <div class="col-sm-4">
                <input type="password" maxlength="20" required class="form-control" id="password2" th:field="*{password2}" />
                <td th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="30" required class="form-control" id="email" th:field="*{email}" />
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                <td th:if="${#strings.equals(emailRepetido, 'repetido')}">El email ya está registrado en la apliación</td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="15" required class="form-control" id="name" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="30" required class="form-control" id="surname" th:field="*{surname}" />
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dateOfBirth">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input type="date" placeholder="yyyy-MM-dd" required class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"/>
                <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="municipality">Municipio:</label>
            <div class="col-sm-4">
                <select class="form-control" required id="municipality" type="text" th:field="*{municipality}">
                    <option value="No seleccionado">Seleccione un municipio</option>
                    <option th:each="municipalityvalue : ${municipalityList}"
                            th:value="${municipalityvalue}"
                            th:text="${municipalityvalue}"></option>
                </select>
                <td th:if="${#strings.equals(selector, 'noSeleccionado')}">No seleccionado</td>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success okey">Añadir gestor municipal</button>
            </div>
        </div>
    </form>
    <a href="/municipalManager/list"><button type="submit" class="btn btn-primary">Volver</button></a>
    <br><br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
