<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h1><span th:text="${municipalManager.name}"></span> <span th:text="${municipalManager.surname}"></span></h1>
    <ul>
        <li><b>Nombre de usuario:</b> <span th:text="${municipalManager.username}"></span></li>
        <li><b>Email:</b> <span th:text="${municipalManager.email}"></span></li>
        <li><b>Municipio:</b> <span th:text="${municipalManager.municipality}"></span></li>
        <li><b>Fecha de nacimiento:</b> <span th:text="${#temporals.format(municipalManager.dateOfBirth,'dd/MM/yyyy')}"></span></li>
        <li><b>Fecha de alta:</b> <span th:text="${#temporals.format(municipalManager.registrationDate,'dd/MM/yyyy')}"></span></li>

        <!-- si ha sido dado de baja, mostrar fecha. Si no, mostrar opcion para dar de baja -->
        <div th:if="${municipalManager.leavingDate != null}">
            <li><b>Fecha de baja:</b> <span th:text="${#temporals.format(municipalManager.leavingDate,'dd/MM/yyyy')}"></span></li>
        </div>
        <div th:if="${municipalManager.leavingDate == null}">
            <br>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#miModal">Dar de baja</button></td>
            <!-- VENTANA EMERGENTE -->
            <div class="modal" id="miModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dar de baja un gestor municipal</h5>
                            <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que quieres dar de baja al gestor municipal <span th:text="${municipalManager.name}"></span> <span th:text="${municipalManager.surname}"></span>?</p>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/municipalManager/darDeBaja/{email}(email=${municipalManager.email})}">
                                <button type="submit" class="btn btn-primary">Confirmar</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <br>
    <a href="/municipality/list"><button type="submit" class="btn btn-primary">Volver al listado</button></a>
    <a th:href="@{/municipality/get/{name}(name=${municipalManager.municipality})}">
        <button type="submit" class="btn btn-primary">Ir al municipio</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
