<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<section id="perfil">
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary mb-0"><span th:text="${municipalManager.name}"></span>
            <span th:text="${municipalManager.surname}"></span></h2>
        <br><hr class="barra-normal"><br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Nombre de usuario:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{municipalManager.username}"></h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Email:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{municipalManager.email}"></h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Municipio:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{municipalManager.municipality}"></h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Fecha de nacimiento:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{#temporals.format(municipalManager.dateOfBirth,'dd/MM/yyyy')}"></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Fecha de alta:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{#temporals.format(municipalManager.registrationDate,'dd/MM/yyyy')}"></h3>
            </div>
        </div>

        <div class="row" th:if="${municipalManager.leavingDate != null}">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 class="colorMarron">Fecha de baja:</h3>
            </div>
            <div class="col-md-auto">
                <h3 class="colorTierra" th:text="*{#temporals.format(municipalManager.leavingDate,'dd/MM/yyyy')}"></h3>
            </div>
        </div>

        <br>
        <br>

        <div class="row justify-content-center">
            <div class="col-md-auto" >
                <a href="/municipalManager/list"><button type="submit" class="btn btn-primary btn-xl">Volver</button></a>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
