<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h1>Lista de gestores municipales</h1>
    <div th:if="${#lists.isEmpty(municipalManagers)}">
        ¡No ha añadido todavía ningún gestor municipal!
    </div>
    <table th:unless="${#lists.isEmpty(municipalManagers)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Municipio</th>
            <th scope="col">Fecha de baja</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipalManager: ${#lists.sort(municipalManagers)}">
            <td scope="row" th:text="${municipalManager.name}"></td>
            <td th:text="${municipalManager.surname}"></td>
            <td th:text="${municipalManager.municipality}"></td>
            <div th:if="${municipalManager.leavingDate != null}">
                <td th:text="${municipalManager.leavingDate}"></td>
            </div>
            <div th:if="${municipalManager.leavingDate == null}">
                <td> - </td>
            </div>

            <!-- Botones -->
            <td><a th:href="@{/municipalManager/get/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-primary">Más información</button> </a>
            </td>
            <td><a th:href="@{/municipalManager/update/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-warning">Edita</button>
            </a>
            </td>
            <!-- opcion para dar de baja, si no lo está ya -->
            <div th:if="${municipalManager.leavingDate != null}">
                <td></td>
            </div>
            <div th:if="${municipalManager.leavingDate == null}">
                <td><button type="button" class="btn btn-danger" data-toggle="modal"
                            th:data-target="${'#miModal' + municipalManager.username}">Dar de baja</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + municipalManager.username}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Dar de baja un gestor municipal</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea dar de baja al gestor municipal <span th:text="${municipalManager.name}"></span>
                                    <span th:text="${municipalManager.surname}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/municipalManager/darDeBaja/{email}(email=${municipalManager.email})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <a href="add"><button type="button" class="btn btn-success okey">Añadir gestor municipal</button></a>
    <a href="/section/environmentalManager"><button type="button" class="btn btn-primary">Volver al menú</button></a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
