<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<section id="perfil">
<div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0">Gestores Municipales</h2>
    <br><hr class="barra-normal">

    <!-- filtro buscador -->
    <div class="box" style="padding-bottom: 20px; padding-top: 20px">
        <form>
            <div style="float: right;">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input th:name="patron" style="border-radius: 25px; background-color: #e8e6e8" type="search" id="search" placeholder=" Buscar..." />
                <button style="border-radius: 25px;" type="submit" class="btn btn-primary">Buscar por nombre</button>
                <a th:href="@{/municipalManager/listTodos}">
                    <button style="border-radius: 25px; text-color:white" type="submit" class="btn btn-secondary">Resetear</button>
                </a>
            </div><br>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(municipalManagers)}">
        ¡No ha añadido todavía ningún gestor municipal!
    </div>
    <table th:unless="${#lists.isEmpty(municipalManagers)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Municipio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipalManager: ${#lists.sort(municipalManagers)}">
            <td scope="row" th:text="${municipalManager.name}"></td>
            <td th:text="${municipalManager.surname}"></td>
            <td th:text="${municipalManager.municipality}"></td>

            <!-- Botones -->
            <td><a th:href="@{/municipalManager/get/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-primary">Más información</button> </a>
            </td>
            <td><a th:href="@{/municipalManager/update/{email}(email=${municipalManager.email})}">
                <button type="button" class="btn btn-warning edit">Edita</button>
            </a>
            </td>
            <!-- opcion para dar de baja, si no lo está ya -->
            <div th:if="${municipalManager.leavingDate != null}">
                <td></td>
            </div>
            <div th:if="${municipalManager.leavingDate == null}">
                <td><button type="button" class="btn btn-danger delete" data-toggle="modal"
                            th:data-target="${'#miModal' + municipalManager.username}">Dar de baja</button></td>
                <!-- VENTANA EMERGENTE -->
                <div class="modal" th:id="${'miModal' + municipalManager.username}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Dar de baja un gestor municipal</h5>
                                <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que desea dar de baja al gestor municipal <span th:text="${municipalManager.name}"></span>
                                    <span th:text="${municipalManager.surname}"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/municipalManager/darDeBaja/{email}(email=${municipalManager.email})}">
                                    <button type="submit" class="btn btn-primary">Confirmar</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <a href="add"><button type="button" class="btn btn-success okey">Añadir gestor municipal</button></a>
    <a href="/municipalManager/listTodos"><button type="button" class="btn btn-primary">Mostrar todos</button></a>
    <a href="/"><button type="button" class="btn btn-primary"><img src="/assets/img/home.png" class="fotoBoton" alt="Menú">Volver al menú</button></a>
    <br><br>
</div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
