<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container">
    <h2>Modificar gestor municipal</h2><br>
    <form class="form-horizontal" action="#" th:action="@{/municipalManager/update}"
          th:object="${municipalManager}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="username">Nombre de usuario:</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" required maxlength="15" class="form-control" id="username" th:field="*{username}" />
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="password">Contraseña:</label>
            <div class="col-sm-4">
                <input type="password" maxlength="20" required class="form-control" id="password" th:field="*{password}" />
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="30" required class="form-control" id="email" th:field="*{email}" />
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="15" required class="form-control" id="name" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="30" required class="form-control" id="surname" th:field="*{surname}" />
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dateOfBirth">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input type="date" placeholder="yyyy-MM-dd" required class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}"/>
                <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="municipality">Municipio:</label>
            <div class="col-sm-4">
                <select class="form_control" required id="municipality" type="text" th:field="*{municipality}">
                    <!--TODO validador <option value="No seleccionado">Selecciona un municipio</option> -->
                    <option th:each="municipalityvalue : ${municipalityList}"
                            th:value="${municipalityvalue}"
                            th:text="${municipalityvalue}"></option>
                </select>
            </div>
        </div>

        <!-- si ha sido dado de baja, mostrar fecha. Si no, mostrar opcion para dar de baja -->
        <div th:if="${municipalManager.leavingDate != null}">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="leavingDate">Fecha de baja:</label>
                <div class="col-sm-4">
                    <input type="date" readonly="readonly" placeholder="yyyy-MM-dd" class="form-control" id="leavingDate" th:field="*{leavingDate}" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" data-toggle="modal" data-target="#miModal" class="btn btn-success">Actualizar gestor municipal</button>
            </div>
        </div>

        <!-- VENTANA EMERGENTE -->
        <div class="modal" id="miModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar gestor municipal</h5>
                        <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que quieres actualizar el gestor municipal <span th:text="${municipalManager.name}"></span>
                            <span th:text="${municipalManager.surname}"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <a href="/municipalManager/list"><button type="submit" class="btn btn-primary">Volver al listado</button></a>
    <a th:href="@{/municipality/get/{municipality}(municipality=${municipalManager.municipality})}">
        <button type="submit" class="btn btn-primary">Volver al municipio</button>
    </a>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>