<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerEnvironmental"></div>

<div class="container text-center">
    <br>
    <h2 style="font-size:40px">¡Bienvenido a SANA!</h2>
    <h2><i>Safe Access to Natural Areas</i></h2>
    <img class="img-fluid d-block mx-auto mb-5" style="height:280px" src="../../../../img/LOGO_mono.png">
    <div class="form-group">
        <a href="/naturalArea/listForEnvironmental"><button type="button" class="btn btn-primary btn-xl">Áreas naturales</button></a>
        <a href="/municipality/list"><button type="button" class="btn btn-primary btn-xl">Municipios</button></a>
        <a href="/municipalManager/list"><button type="button" class="btn btn-primary btn-xl">Gestores municipales</button></a>
        <a href="/service/list"><button type="button" class="btn btn-primary btn-xl">Servicios</button></a>
    </div>
    <br><br>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>