<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div th:switch="${typeUser}">
    <td th:case="'manager'"><div th:replace="fragments/headerManager"></div></td>
    <td th:case="'environmental'"><div th:replace="fragments/headerEnvironmental"></div></td>
    <td th:case="'registered'"><div th:replace="fragments/headerRegistered"></div></td>
    <td th:case="*"><div th:case="notRegistered" th:replace="fragments/header"></div></td>
</div>

<div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0" >
        <span th:text="${service.nameOfService}"></span> en <span th:text="${temporalService.naturalArea}"></span>
    </h2>
    <br><hr class="barra-normal"><br>

    <div class="row">
        <div class="col-md-auto">
            <h5 class="colorMarron">Descripción:</h5>
        </div>
        <div class="col-md-auto">
            <h5 class="colorTierra" th:text="${service.description}"></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-auto">
            <h5 class="colorMarron">Sitio de contratación:</h5>
        </div>
        <div class="col-md-auto">
            <h5 class="colorTierra" th:text="${service.hiringPlace}"></h5>
        </div>
    </div>

    <br/>

    <div class="card-horizontal">
        <div class="card-body">
            <h4 class="card-title">Información del servicio temporal</h4>

            <h6 class="card-subtitle mb-2 text-muted">
                <span th:text="${temporalService.beginningTime}"></span> / <span th:text="${temporalService.endTime}"></span>
            </h6>

            <p class="card-text">
                <b>Días de apertura: </b>
                    <ul>
                        <td th:each="dia: ${dias}">
                            <li><span th:text="${dia}"></span></li>
                        </td>
                    </ul>
            </p>

            <p class="card-text">
                <b>Desde el <span th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></span>
                al <span th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></span></b>
            </p>
        </div>
    </div>
    <br>

    <!-- dependiendo del usuario que sea, querrá volver a un sitio o a otro -->
    <div th:switch="${typeUser}">
        <td th:case="'manager'">
            <a th:href="@{/naturalArea/getForManagersServices/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Volver</button>
            </a>
        </td>
        <td th:case="'environmental'">
            <a th:href="@{/naturalArea/getServices/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Volver</button>
            </a>
        </td>
        <td th:case="*">
            <a th:href="@{/naturalArea/get/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Atrás</button>
            </a>
        </td>
    </div>
    <br><br>

</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
