<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div th:switch="${typeUser}">
    <td th:case="'manager'"><div th:replace="fragments/headerManager"></div></td>
    <td th:case="'environmental'"><div th:replace="fragments/headerEnvironmental"></div></td>
    <td th:case="'registered'"><div th:replace="fragments/headerRegistered"></div></td>
    <td th:case="*"><div th:case="notRegistered" th:replace="fragments/header"></div></td>
</div>

<div class="container">
    <h1><span th:text="${service.nameOfService}"></span> en <span th:text="${temporalService.naturalArea}"></span></h1>
    <ul>
        <li><b>Nombre del servicio:</b> <span th:text="${service.nameOfService}"></span></li>
        <li><b>Temporalidad:</b> <span th:text="${service.temporality.descripcion}"></span></li>
        <li><b>Descripción:</b> <span th:text="${service.description}"></span></li>
        <li><b>Sitio de contratación:</b> <span th:text="${service.hiringPlace}"></span></li>
    </ul>

    <h3>Información del servicio temporal</h3>
    <ul>
        <li><b>Días de apertura:</b>
            <ul>
                <td th:each="dia: ${dias}">
                    <li><span th:text="${dia}"></span></li>
                </td>
            </ul>
        <li><b>Hora de inicio:</b> <span th:text="${temporalService.beginningTime}"></span></li>
        <li><b>Hora de fin:</b> <span th:text="${temporalService.endTime}"></span></li>
        <li><b>Fecha de inicio:</b> <span th:text="${#temporals.format(temporalService.beginningDate,'dd/MM/yyyy')}"></span></li>
        <li><b>Fecha de fin:</b>
            <td th:if="${temporalService.endDate != null}">
                <span th:text="${#temporals.format(temporalService.endDate,'dd/MM/yyyy')}"></span>
            </td>
            <td th:if="${temporalService.endDate == null}">
                <span>El servicio continúa operativo</span>
            </td>
        </li>
    </ul>

    <!-- dependiendo del usuario que sea, querrá volver a un sitio o a otro -->
    <div th:switch="${typeUser}">
        <td th:case="'manager'">
            <a th:href="@{/naturalArea/getManagers/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Volver al área natural</button>
            </a>
        </td>
        <td th:case="'environmental'">
            <a th:href="@{/naturalArea/getEnvironmental/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Volver al área natural</button>
            </a>
        </td>
        <td th:case="*">
            <a th:href="@{/naturalArea/get/{naturalAreaName}(naturalAreaName=${temporalService.naturalArea})}">
                <button type="submit" class="btn btn-primary">Volver al área natural</button>
            </a>
        </td>
    </div>
    <br><br>

</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
