<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>SANA</title>
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/untitled.css">
  <link rel="icon" href="../assets/img/LOGO_hoja.png" type="image/png">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="../inicio">SANA</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inicio/registrado">Áreas Naturales</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inicio/registrado/reservas">Mis reservas</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#perfil">Perfil</a></li>
      </ul>
    </div>
  </div>
</nav>



<section id="perfil">
  <div class="container" th:object ="${citizen}">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-uppercase text-center text-secondary mb-0">Mi Perfil</h2>
    <br>
    <hr class="barra-normal">
    <br>
    <div class="row">
      <div class="col-lg-8 mx-auto" >
        <form id="contactForm" novalidate="novalidate" th:action="@{editarPerfil}" th:object="${citizen}" method="post">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Nombre:</label>
              <input class="form-control" id="name" th:field="*{name}" style="background-color: #e8e6e8">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Apellidos</label>
              <input class="form-control" id="surname" th:field="*{surname}" style="background-color: #e8e6e8">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Correo</label>
              <input class="form-control" id="email" th:field="*{email}" style="background-color: #dbdbdb" readonly="readonly">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Nacimiento</label>
              <input class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}" style="background-color: #e8e6e8">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Teléfono</label>
              <input class="form-control" id="mobilePhoneNumber" th:field="*{mobilePhoneNumber}" style="background-color: #e8e6e8">
            </div>
          </div>
          <input class="form-control" id="leavingDate" th:field="*{leavingDate}" type="hidden">
          <input class="form-control" id="registrationDate" th:field="*{registrationDate}" type="hidden">
          <input class="form-control" id="typeOfUser" th:field="*{typeOfUser}" type="hidden">
          <input class="form-control" id="idNumber" th:field="*{idNumber}" type="hidden">
          <input class="form-control" id="citizenCode" th:field="*{citizenCode}" type="hidden">
          <input class="form-control" id="pin" th:field="*{pin}" type="hidden">
          <input class="form-control" id="addressId" th:field="*{addressId}" type="hidden">
          <div id="success"></div>
          <br>
          <div class="form-group"><button class="btn btn-primary btn-xl" id="guardarCambios" type="submit">Guardar cambios</button></div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="text-center footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Dónde estamos</h4>
        <p>Castellón de la Plana, España<br>UJI - Universitat Jaume I</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase">Síguenos</h4><p>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button"><i class="fa fa-google fa-fw"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button"><i class="fa fa-instagram fa-fw"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Sobre nosotros</h4>
        <p>SANA es un proyecto realizado en la UJI por alumnos de Ingenieria Informática durante las asignaturas EI1023 y EI1027</p>
      </div>
    </div>
  </div>
</footer>
<div class="text-center text-white copyright py-4">
  <div class="container"><small style="color:white">Copyright ©&nbsp;SANA 2021</small></div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="assets/js/freelancer.js"></script>


</body>

</html>