<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="fragments/headerRegistered"></div>

<section id="perfil">
  <div class="container" th:object ="${citizen}">
    <h2 class="text-uppercase text-center text-secondary mb-0">Mi Perfil</h2>
    <br>
    <hr class="barra-normal">
    <br>
    <div class="row">
      <div class="col-lg-8 mx-auto" >
        <form id="contactForm" novalidate="novalidate" th:action="@{editarPerfil}" th:object="${citizen}" method="post">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Nombre:</label>
              <input class="form-control" required id="name" th:field="*{name}" style="background-color: #e8e6e8">
              <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Apellidos</label>
              <input class="form-control" required id="surname" th:field="*{surname}" style="background-color: #e8e6e8">
              <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Correo</label>
              <input class="form-control" required id="email" th:field="*{email}" style="background-color: #dbdbdb" readonly="readonly">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Nacimiento</label>
              <input class="form-control" required type="date" id="dateOfBirth" th:field="*{dateOfBirth}" style="background-color: #e8e6e8">
              <div class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" style="color: black"><label>Teléfono</label>
              <input class="form-control" required id="mobilePhoneNumber" th:field="*{mobilePhoneNumber}" style="background-color: #e8e6e8">
              <div class="error" th:if="${#fields.hasErrors('mobilePhoneNumber')}" th:errors="*{mobilePhoneNumber}"></div>
              <td th:if="${#strings.equals(claveRepetida, 'repetida')}">El teléfono ya está registrado en la apliación</td>
            </div>
          </div>
          <input required th:field="*{leavingDate}" type="hidden">
          <input required th:field="*{registrationDate}" type="hidden">
          <input required th:field="*{typeOfUser}" type="hidden">
          <input required th:field="*{idNumber}" type="hidden">
          <input required th:field="*{citizenCode}" type="hidden">
          <input required th:field="*{pin}" type="hidden">
          <input required th:field="*{addressId}" type="hidden">
          <div id="success"></div>
          <br>
          <div class="form-group"><button class="btn btn-primary btn-xl" id="guardarCambios" type="submit">Guardar cambios</button>
            <a href="/inicio/registrado/perfil" class="btn btn-primary btn-xl" role="button">Cancelar</a></div>

        </form>
      </div>
    </div>
  </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>