<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="fragments/headerRegistered"></div>

<section id="perfil">

  <div class="container" th:object ="${citizen}">

    <h2 class="text-uppercase text-center text-secondary mb-0">Mi Perfil</h2>
    <br>
    <hr class="barra-normal">
    <br>

    <div class="justify-content-center">


    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Nombre:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{name}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Apellidos:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{surname}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Correo:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{email}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">DNI/NIE:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{idNumber}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Nombre de usuario:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{citizenCode}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Fecha de nacimiento:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="${#temporals.format(citizen.dateOfBirth,'dd/MM/yyyy')}"></h3>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <h3 class="colorMarron">Teléfono:</h3>
      </div>
      <div class="col-md-auto">
        <h3 class="colorTierra" th:text="*{mobilePhoneNumber}"></h3>
      </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-center">
      <div class="col-md-auto" >
        <button style="float: right; margin-left: 15px" type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#miModal">Cerrar sesión</button>
        <a style="float: right" href="/inicio/registrado/editarPerfil" class="btn btn-primary btn-xl" role="button">Editar perfil</a>
      </div>
    </div>

    <!-- VENTANA EMERGENTE -->
    <div class="modal" id="miModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cerrar sesión</h5>
            <button style="font-size:x-large; color: #b86f52" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class="modal-body">
            <p>¿Está seguro de que desea cerrar su sesión actual?</p>
          </div>
          <div class="modal-footer">
            <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div th:replace="fragments/footer"></div>
</body>
</html>