<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>SANA</title>
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/untitled.css">
  <link rel="icon" href="../../assets/img/LOGO_hoja.png" type="image/png">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="../inicio">SANA</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inicio/registrado">Áreas Naturales</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inicio/registrado/reservas">Mis reservas</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inicio/registrado/perfil">Perfil</a></li>
      </ul>
    </div>
  </div>
</nav>
-->

<body id="page-top">
<div th:replace="fragments/headerRegistered"></div>

<section id="reservas">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">Mis Reservas</h2>
    <br>
    <hr class="barra-normal">
    <br>
    <div th:if="${#lists.isEmpty(reservas)}">
      <h4 style="text-align: center"> Todavía no has realizado ninguna reserva</h4>
    </div>
    <div th:unless="${#lists.isEmpty(reservas)}">
      <div th:each="reserva: ${#lists.sort(reservas)}">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="" th:src="@{/} + ${reserva.QRcode}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title" th:text="${reserva.naturalArea}"></h4>
            <h6 class="card-subtitle mb-2 text-muted">
              <span th:text="${#temporals.format(reserva.reservationDate,'dd/MM/yyyy')}"></span>
            </h6>
            <p style="font-weight: bold" class="card-text"> <span style="font-weight: bold" th:text="${reserva.numberOfPeople}"></span> personas</p>
            <p class="card-text">Zona:
              <span th:text="${reserva.zoneNumber}"></span>
              <span th:text="${reserva.letter}"></span>
            </p>
            <h6 style="float: right; color: #b86f52" class="card-subtitle mb-2 text-muted">
              <span th:text="${reserva.state.descripcion}"></span>
            </h6>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
