<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
    <div class="container">

    <h2 class="text-uppercase text-center text-secondary mb-0" >Gráfico de ocupación</h2>
    <br><hr class="barra-normal">
    <br>
    </div>
</section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <img  th:src="@{ '../../../../img/' + ${plot}}" alt="Grafico"/>

            </div>
        </div>
        <br><br>
        <a href="/occupancy/municipalManager"><button type="button" class="btn btn-primary">Volver</button></a>
        <br><br>
    </div>

<div th:replace="fragments/footer"></div>
</body>
</html>