<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:replace="fragments/headerManager"></div>

<section id="perfil">
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary mb-0">Gráfico de ocupación</h2>
        <br><hr class="barra-normal"><br>

    <form class="form-horizontal" action="#" th:action="@{/occupancy/plotForm}"
          th:object="${occupancyFormData}" method="post">

            <div class="form-group row">
                <label class="control-label col-sm-2" for="naturalArea">Área natural:</label>
                <div class="col-sm-4">
                    <input type="text" required maxlength="30" readonly="readonly" class="form-control" id="naturalArea" th:field="*{naturalArea}" />
                    <td th:if="${#fields.hasErrors('naturalArea')}" th:errors="*{naturalArea}"></td>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="typeOfPeriod">Gráfico por:</label>
                <div class="col-sm-4">
                    <input type="text" readonly="readonly" required class="form-control" id="typeOfPeriod" th:field="*{typeOfPeriod}" />
                    <td th:if="${#fields.hasErrors('typeOfPeriod')}" th:errors="*{typeOfPeriod}"></td>
                </div>
            </div>

            <div th:if="${occupancyFormData.typeOfPeriod.descripcion == 'Por año' or occupancyFormData.typeOfPeriod.descripcion == 'Por mes'}" class="form-group row">
                <label class="control-label col-sm-2" for="year">Año:</label>
                <div class="col-sm-4">
                    <input type="number" min="2010" class="form-control" id="year" th:field="*{year}" value="1"/>
                    <td th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></td>
                </div>
            </div>

            <div th:if="${occupancyFormData.typeOfPeriod.descripcion == 'Por mes'}" class="form-group row">
                <label class="control-label col-sm-2" for="month">Mes:</label>
                <div class="col-sm-4">
                    <input type="number" min="1" max="12" class="form-control" id="month" th:field="*{month}" value="1"/>
                    <td th:if="${#fields.hasErrors('month')}" th:errors="*{month}"></td>
                </div>
            </div>

            <div th:if="${occupancyFormData.typeOfPeriod.descripcion == 'Por día'}" class="form-group row">
                <label class="control-label col-sm-2" for="day">Día:</label>
                <div class="col-sm-4">
                    <input type="date" placeholder="yyyy-MM-dd" class="form-control" id="day" th:field="*{day}"/>
                    <td th:if="${#fields.hasErrors('day')}" th:errors="*{day}"></td>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-success okey">Ver histórico de ocupación</button>
                </div>
            </div>

        </form>

        <a href="/occupancy/municipalManager"><button type="button" class="btn btn-primary">Volver</button></a>
        <br><br>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>